Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

chore(nixos): upgrade
  flake.lock
Due: none

chore(git): GitHub deprecated the Git protocol
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(git): automatically configure GitHub repos
  README.md
  home-manager/config/programs/git/default.nix
Due: markdownlint, mdformat, nixfmt

chore: remove redundant string interpolation
  home-manager/modules/home.nix
Due: nixfmt

feat(nvim): set tabstop=2 in XML and XSLT files
  home-manager/config/programs/neovim/after/ftplugin/xml.lua
  home-manager/config/programs/neovim/after/ftplugin/xslt.lua
Due: none

feat(merged-files): support XML via XSLT 3.0
  home-manager/modules/home.nix
  lib/merge.nix
Due: nixfmt

feat(akregator): declare feeds through new option
  home-manager/config/programs/akregator.nix
  home-manager/modules/programs/akregator.nix
  home-manager/modules/programs/akregator/default.nix
  home-manager/modules/programs/akregator/merge-feeds.xslt
Due: nixfmt

feat: configure Akregator
  home-manager/config/programs/akregator.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/modules/programs/akregator.nix
Due: nixfmt

fix(languagetool): self-host an instance
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
  home-manager/config/secrets.yaml
  hosts/precision3490.nix
  nixos/config/services/languagetool.nix
Due: nixfmt, yamlfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/zsh.nix
Due: nixfmt

feat(nix): enable uid-range system feature on NixOS
  nixos/config/default.nix
Due: nixfmt

feat(languagetool): add 'n-grams' option
  nixos/config/services/languagetool.nix
  nixos/default.nix
  nixos/modules/services/languagetool/n-grams.nix
Due: nixfmt

docs: add TPM recovery key after first boot
  README.md
Due: markdownlint, mdformat

fix(nvim): disable inlay hints in Haskell files
  home-manager/config/programs/neovim/init.lua
Due: none

chore: remove superfluous `with pkgs;` occurences
  home-manager/config/profiles/radboud.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/okular.nix
  home-manager/config/programs/plasma/default.nix
  nixos/config/services/printing.nix
Due: nixfmt

chore: replace `cat` by input redirection
  home-manager/config/programs/gh.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/zsh.nix
  home-manager/config/sops.nix
  nixos/config/kmod-params.sh
Due: nixfmt

chore(nixos): deprecate ZRAM usage
  nixos/config/zramSwap.nix
Due: nixfmt

refactor: move the repo to ~/projects/dotfiles
  README.md
  home-manager/modules/files.nix
  home-manager/submodule.nix
  nixos/config/default.nix
Due: markdownlint, mdformat, nixfmt

chore(shell): move `hm` alias to standalone profile
  home-manager/config/default.nix
  home-manager/config/profiles/standalone.nix
Due: nixfmt

docs: create installation device for NixOS only
  README.md
Due: markdownlint, mdformat

refactor: import the HM standalone profile
  home-manager/config/profiles/standalone.nix
  home-manager/standalone.nix
Due: nixfmt

fix(installer): clone the repo instead of copying
  README.md
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt

fix(git): ignore app files when app is enabled
  home-manager/config/programs/direnv.nix
  home-manager/config/programs/git/default.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/taskell.nix
Due: nixfmt

feat(akregator): load the full website of feeds
  home-manager/config/programs/akregator.nix
Due: nixfmt

feat(akregator): add a copyright option
  home-manager/modules/programs/akregator/default.nix
Due: nixfmt

feat(akregator): register more feeds
  home-manager/config/programs/akregator.nix
Due: nixfmt

refactor(flake): use default NixOS modules
  flake.nix
Due: nixfmt

feat(zsh): enable fast-syntax-highlighting
  flake.lock
  home-manager/config/programs/zsh.nix
Due: nixfmt

feat(firefox): configure uBlock origin
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(convco): update repository name
  .convco
Due: none

feat(nvim): add autopair rules for Template Haskell
  home-manager/config/programs/neovim/lua/plugins/autopairs.lua
Due: none

refactor: corutils' `dirname` -> Nix's `dirOf`
  home-manager/modules/home.nix
Due: nixfmt
