Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        language: system
        args: [--staged, --msg-filename]
        stages: [commit-msg]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        language: system
        args: [--verify]
        types: [nix]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        language: system
        args: [--write, --simplify, --indent=4]
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        args: [--search-parent-directories]
        types: [lua]
        exclude: '^.config/nvim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]
        exclude: '^.config/gh/config.yaml$'

refactor(hm): assign dircolors by type
  .config/home-manager/programs/dircolors.nix
Due: nixfmt

chore(adesso): remove BoS Gitlab SSH key
  .config/home-manager/profiles/adesso.nix
Due: nixfmt

feat(zsh): enable history substring search
  .config/home-manager/programs/zsh/default.nix
Due: nixfmt

feat: install digestif-ls and vale
  .config/home-manager/home.nix
  .config/nvim/lua/config/plugins/lspconfig.lua
Due: nixfmt

refactor(nvim): capability tests return booleans
  .config/nvim/lua/config/mappings.lua
Due: none

feat(nvim): check buffer-specific LSP apabilities
  .config/nvim/init.lua
Due: none

chore(nvim): consistent mapping descriptions
  .config/nvim/lua/config/mappings.lua
Due: none

chore(nvim): update the trouble plugin to v3
  .config/nvim/lua/config/mappings.lua
  .config/nvim/lua/config/plugins/trouble.lua
Due: none

refactor: replace cdhist by zoxide
  .config/home-manager/home.nix
  .config/home-manager/modules.nix
  .config/home-manager/overlays/packages.nix
  .config/home-manager/overlays/packages/cdhist.nix
  .config/home-manager/programs/cdhist.nix
  .config/home-manager/programs/zoxide.nix
Due: nixfmt

refactor(nvim): replace neodev by lazydev
  .config/nvim/lua/config/plugins/lazydev.lua
  .config/nvim/lua/config/plugins/lspconfig.lua
Due: none

refactor(nvim): replace unimpaired by impairative
  .config/nvim/lua/config/plugins/impairative.lua
  .config/nvim/lua/config/plugins/unimpaired.lua
Due: none

chore(hm): new `nix.nixPath` option
  .config/home-manager/home.nix
Due: nixfmt

feat(nvim): add plugin's `lua/` dirs to path
  .config/nvim/after/ftplugin/lua.lua
Due: none

refactor(hm): disable goto's fzf widget by default
  .config/home-manager/programs/goto.nix
Due: nixfmt

refactor(nvim): toggle inline diagnostics by `yoe`
  .config/nvim/lua/config/mappings.lua
  .config/nvim/lua/config/plugins/impairative.lua
Due: none

feat: install yazi
  .config/home-manager/home.nix
Due: nixfmt

chore(nvim): remove the drex explorer plugin
  .config/nvim/lua/config/mappings.lua
  .config/nvim/lua/config/plugins/drex.lua
  .config/nvim/lua/config/plugins/lualine.lua
Due: none

feat(top): update config
  .config/procps/toprc
Due: none

feat(iterm): determine `$BACKGROUND` from profile
  .config/home-manager/profiles/macos.nix
Due: nixfmt

docs(macOS): disable accent character suggestions
  README.md
Due: none

fix(nvim): use fork of pretty-fold
  .config/nvim/lua/config/plugins/pretty-fold.lua
Due: none

chore: update nixpkgs
  .config/home-manager/home.nix
Due: nixfmt

feat(kubectl): install along yq
  .config/home-manager/programs/kubectl.nix
Due: nixfmt

feat(adesso): install azure-cli
  .config/home-manager/profiles/adesso.nix
Due: nixfmt

refactor(hm): simplify code
  .config/home-manager/home.nix
  .config/home-manager/programs/git/default.nix
Due: nixfmt

feat(nvim): add lazy lockfile
  .config/nvim/.gitignore
  .config/nvim/lazy-lock.json
Due: none

fix(nvim): clean working directory after building
  .config/nvim/lua/config/plugins/markdown-preview.lua
Due: none

ci: update pre-commit hooks
  .pre-commit-config.yaml
Due: yamlfmt

chore(nvim): remove the tabout plugin
  .config/nvim/lua/config/mappings.lua
  .config/nvim/lua/config/plugins/tabout.lua
Due: none

feat(hm): enable the university profile on macOS
  .config/home-manager/home.nix
Due: nixfmt

fix(ghci): end escape sequences properly
  .config/ghc/ghci.conf
Due: none

chore(hm): remove superfluous comment
  .config/home-manager/hosts/orion.nix
Due: nixfmt

fix(nvim): do not use <LocalLeader> for imappings
  .config/nvim/after/ftplugin/tex.lua
Due: none

fix(hm): do not set `auto-optimise-store`
  .config/home-manager/home.nix
Due: nixfmt

fix(firefox): show bookmarks toolbar on work dev
  .config/home-manager/profiles/adesso.nix
Due: nixfmt

fix(nvim): do not set a colorcolumn at textwidth
  .config/nvim/after/ftplugin/tex.lua
Due: none

chore(hm): update fzf-tab-completion
  .config/home-manager/overlays/packages/fzf-tab-completion.nix
Due: nixfmt

fix(hm): separate option and value with `=`
  .config/home-manager/overlays/gnu_option_constructors.nix
Due: nixfmt

feat(nvim): set commentstring for Cabal files
  .config/nvim/after/ftplugin/cabal.lua
Due: none
