Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, yamlfmt

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  language: system
  args:
  - --verify

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

feat(nixpkgs): derivations for goto and cdhist
  .config/nixpkgs/overlays/default.nix
  .config/nixpkgs/pkgs/cdhist.nix
  .config/nixpkgs/pkgs/goto.nix
  .config/sh/rc.d/goto.sh
Due: nixfmt

style: do not align vertically
  .config/gnupg/gpg-agent.conf
  .config/gnupg/gpg.conf
Due: none

fix(nix): export this system's locales
  .config/sh/profile.d/nix.sh
Due: none

feat(nix): define my environments
  .config/gnupg/gpg-agent.conf
  .config/nix/environment.nix
Due: nixfmt

feat(nix): fzf-tab-completion derivation
  .config/nix/environment.nix
  .config/nixpkgs/overlays/default.nix
  .config/nixpkgs/pkgs/fzf-tab-completion.nix
Due: nixfmt

feat: add the cabal config
  .config/cabal/config
Due: none

fix(nvim): <C-g> and <C-t> in cmd mode are builtin
  .config/nvim/lua/config/mappings.lua
Due: none

feat(nvim): cabalconfig detection and ftplugin
  .config/nvim/after/ftplugin/cabalconfig.lua
  .config/nvim/filetype.lua
Due: none

chore(cabal): binaries are put in `.locale/bin`
  .config/sh/profile.d/cabal.sh
Due: none

refactor(nixpkgs): build cdhist as python app
  .config/nix/environment.nix
  .config/nixpkgs/overlays/default.nix
  .config/nixpkgs/pkgs/cdhist.nix
Due: nixfmt

fix(gpg): expand environment variable
  .config/gnupg/gpg-agent.conf
Due: none

ci(pre-commit): check for useless excludes
  .pre-commit-config.yaml
Due: yamlfmt

feat(nvim): save buffers with <C-s>
  .config/nvim/lua/config/mappings.lua
Due: none

fix(nixpkgs): pre-commit with meta hooks bug
  .config/nixpkgs/overlays/new_packages.nix
  .config/nixpkgs/overlays/pre-commit_with_meta_hooks.nix
Due: nixfmt

feat(git): reuse recorded resolution for conflicts
  .config/git/config
Due: none

feat(git): write commit graph on fetch
  .config/git/config
Due: none

refactor(nvim): use the highlight-colors plugin
  .config/nvim/lua/config/plugins/colorizer.lua
  .config/nvim/lua/config/plugins/highlight-colors.lua
Due: none

feat(nix): optimise the store automatically
  .config/nix/nix.conf
Due: none

feat(nix): enable `nix` command and flakes
  .config/nix/nix.conf
Due: none

feat(nvim): tab with is two cabal files
  .config/nvim/after/ftplugin/cabal.lua
Due: none

feat(nvim): add the hardtime plugin
  .config/nvim/lua/config/plugins/hardtime.lua
Due: none

feat(nvim): add the highlight-undo plugin
  .config/nvim/lua/config/plugins/highlight-undo.lua
Due: none

fix: remove autogenerated user-dirs.dirs file
  .config/user-dirs.dirs
Due: none

fix: uninstall git-credential-keepassxc
  .config/nix/environment.nix
Due: nixfmt

feat: add thefuck
  .config/nix/environment.nix
  .config/sh/rc.d/thefuck.sh
Due: nixfmt

chore(sh): remove settings that are set by default
  .config/sh/profile.d/less.sh
  .config/sh/profile.sh
Due: none

feat(zsh): execute autosuggestion with <C-g>
  .config/zsh/rc.d/autosuggestions.zsh
Due: none

refactor(zsh): unnecessary XDG_CACHE_HOME fallback
  .config/zsh/rc.zsh
Due: none

feat(zsh): rename global alias `NUL` to `NE`
  .config/zsh/rc.zsh
Due: none

style(zsh): miscellaneous
  .config/zsh/rc.zsh
Due: none

feat: configure fzf-tab-completion prompt
  .config/sh/rc.d/fzf-tab-completion.sh
  .config/zsh/rc.d/fzf-tab-completion.zsh
  .config/zsh/rc.d/fzf.zsh
Due: none

fix(firefox): missing semicolon
  .config/mozilla/firefox/9fdt4mtf.default/user.js
Due: none

chore(firefox): don't set vaapi.enabled explicitly
  .config/mozilla/firefox/9fdt4mtf.default/user.js
Due: none

chore: remove unnecessary systemd user units
  .config/systemd/user/cabal-update.service
  .config/systemd/user/cabal-update.timer
  .config/systemd/user/ssh-agent.service
Due: none

feat(nvim): fzf file search follows symbolic links
  .config/nvim/lua/config/plugins/fzf-lua.lua
Due: none

refactor(rg): simplify config file
  .config/rg/rg.conf
Due: none

fix(sh): SSH_ASKPASS is set by NixOS already
  .config/sh/profile.d/sshaskpass.sh
Due: none

fix(konsole): remove unignored comments
  .local/share/konsole/Gruvbox_Material_light_medium_intense.colorscheme
Due: none

fix(fzf): adapt completion to non-pseudo TTY
  .config/sh/rc.d/fzf-tab-completion.sh
Due: none

fix(sh): incorrect comments and formatting
  .config/zsh/rc.d/dir_navigation.zsh
  .config/zsh/rc.d/fzf-tab-completion.zsh
Due: none

Path conditions:
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$, but not: ^.config/gh/config.yaml$
