Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

ci(pre-commit): remove shellcheck
  flake.nix
Due: nixfmt

docs: update
  .ltex/ltex.dictionary.en-GB.txt
  .ltex/ltex.hiddenFalsePositives.en-GB.txt
  README.md
Due: markdownlint, mdformat

ci(pre-commit): integrate yamlfmt
  flake.nix
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

refactor: implement suggestions from the README
  README.md
  home-manager/config/profiles/macos.nix
Due: markdownlint, mdformat, nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

fix(nvim): disable 'showbreak' by default
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/init.lua
Due: none

feat(bt-dualboot): backup the windows registry
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

feat(gh): replace fine-grained by a classic token
  home-manager/config/secrets.yaml
Due: yamlfmt

feat(bt-dualboot): add package option
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

refactor(bt-dualboot): use `lib.pipe`
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

feat(sops): decrypt secrets before diffing
  .gitattributes
  flake.nix
Due: nixfmt

fix(starship): git_status format string
  home-manager/config/programs/starship.nix
Due: nixfmt

fix(nvim): register undoing 'makeprg' on TeX files
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
Due: none

refactor: upstream the goto package
  flake.lock
  nixpkgs/packages/default.nix
  nixpkgs/packages/goto.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/plasma/default.nix
  home-manager/modules/programs/signal-desktop.nix
Due: nixfmt

feat(nvim): treat Literate Haskell as Haskell
  home-manager/config/programs/neovim/after/ftplugin/lhaskell.lua
Due: none

feat: enable KeePassXC as Git credential helper
  home-manager/config/default.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/git-credential-keepassxc.nix
Due: nixfmt

fix(git): remove pre-commit hook
  home-manager/config/programs/git/templates/hooks/pre-commit
Due: none

fix(sioyek): fix <f3> keybinding
  home-manager/config/programs/sioyek.nix
Due: nixfmt

feat(nvim): bi-directional leaping
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nixos): upgrade
  flake.lock
  home-manager/config/default.nix
Due: nixfmt

fix(nvim): do not prescribe a LaTeX build mode
  home-manager/config/programs/neovim/lsp/texlab.lua
Due: none

fix(nvim): overwrite lspconfig's configuration
  home-manager/config/programs/neovim/after/lsp/bashls.lua
  home-manager/config/programs/neovim/after/lsp/hls.lua
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
  home-manager/config/programs/neovim/after/lsp/lua_ls.lua
  home-manager/config/programs/neovim/after/lsp/nil_ls.lua
  home-manager/config/programs/neovim/after/lsp/texlab.lua
  home-manager/config/programs/neovim/after/lsp/yamlls.lua
Due: none

fix(nvim): use british english in ltex-ls
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
Due: none

fix(nvim): defer the ltex_extra setup by a second
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
Due: none

refactor(radboud): move Java dependencies to flake
  home-manager/config/profiles/radboud.nix
Due: nixfmt

feat(sops): add sops git diff method
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(orion): add age key to sops files
  .sops.yaml
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
Due: yamlfmt

ci(actions): print Nix build logs
  .github/workflows/nix-flake-check.yaml
Due: yamlfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/better-n.lua
Due: none

feat(nvim): enable treefmt as formatter
  home-manager/config/programs/neovim/lua/config/plugins/conform.lua
Due: none

chore(nixos): upgrade
  flake.lock
  hosts/radboud.nix
Due: nixfmt

fix(radboud): Xe driver not officially supported
  hosts/radboud.nix
Due: nixfmt

chore: remove treefmt exlude patterns
  flake.nix
Due: nixfmt

ci: use mdformat without extensions
  flake.nix
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
