Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

refactor(installer): build with image generators
  README.md
  flake.nix
  home-manager/config/programs/keepassxc.nix
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt

refactor(xps13-9360): define disk layout with disko
  .harper-dictionary.txt
  .ltex/ltex.dictionary.en-GB.txt
  README.md
  flake.lock
  flake.nix
  hosts/xps13-9360.nix
Due: markdownlint, mdformat, nixfmt

feat(installer): enable zram
  hosts/installer.nix
Due: nixfmt

chore(btrbk): remove prefix from snapshots dir
  nixos/config/services/btrbk.nix
Due: nixfmt

docs: add section on debugging the installer
  .ltex/ltex.dictionary.en-GB.txt
  README.md
Due: markdownlint, mdformat

refactor: enable TPM2 if lanzaboote is enabled
  hosts/precision3490.nix
  hosts/xps13-9360.nix
  nixos/config/default.nix
Due: nixfmt

refactor: set default for 'boot.lanzaboote.pkiBundle'
  hosts/xps13-9360.nix
  nixos/config/default.nix
Due: nixfmt

chore(nixos): disable podman
  nixos/config/default.nix
Due: nixfmt

feat(installer): compress with moderate Zstd level
  hosts/installer.nix
Due: nixfmt

refactor(precision3490): define disk layout with disko
  .ltex/ltex.dictionary.en-GB.txt
  README.md
  home-manager/config/programs/keepassxc.nix
  hosts/precision3490.nix
  hosts/xps13-9360.nix
  nixos/config/btrfs.nix
  nixos/config/default.nix
  nixos/config/disko.nix
  nixos/config/dualboot.nix
  nixos/config/services/btrbk.nix
Due: markdownlint, mdformat, nixfmt

feat(installer): include installation dependencies
  README.md
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt

feat(nvim): install blink-fuzzy-lib
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

fix(lacie): do not unlock with TPM2
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

feat(nixos): create mountpoints for external devices
  nixos/config/dualboot.nix
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

refactor(fzf): store state in /run/user/$UID
  home-manager/config/programs/fzf/state.sh
Due: none

refactor(fzf): use Zsh site functions
  home-manager/config/programs/fzf/default.nix
Due: nixfmt

feat(zsh): enable HIST_IGNORE_SPACE
  home-manager/config/programs/zsh.nix
Due: nixfmt

docs: remove repeated command prefixing with sudoe
  README.md
  flake.nix
Due: markdownlint, mdformat, nixfmt

fix(zsh): disable the NULL_GLOB option
  home-manager/config/programs/zsh.nix
Due: nixfmt

fix(merged-files): require non-empty systemd deps
  lib/types.nix
Due: nixfmt

refactor(merged-files): name the common union type
  home-manager/modules/home.nix
  home-manager/modules/programs/firefox.nix
  lib/types.nix
Due: nixfmt

chore(nixos): remove dual-boot support
  home-manager/config/programs/keepassxc.nix
  hosts/precision3490.nix
  nixos/config/dualboot.nix
Due: nixfmt

chore: remove the bt-dualboot package and module
  nixos/modules/services/bt-dualboot.nix
  nixpkgs/packages/bt-dualboot.nix
  nixpkgs/packages/default.nix
Due: nixfmt

feat(nvim): install blink-fuzzy-lib
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/plugins/blink.cmp.lua
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
