Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

fix(akregator): merge all feed attributes
  home-manager/modules/programs/akregator/merge-feeds.xslt
Due: none

chore(nixos): upgrade
  flake.lock
Due: none

feat(sioyek): toggle continuous scrolling with `c`
  home-manager/config/programs/sioyek.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/fzf/default.nix
Due: nixfmt

chore(git): remove deprecated configuration
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(lazygit): add delta side-by-side diffing
  home-manager/config/programs/lazygit.nix
Due: nixfmt

fix: replace command-not-found by nix-index-database
  flake.lock
  flake.nix
  home-manager/config/default.nix
  home-manager/config/programs/command-not-found.nix
Due: nixfmt

style(hm): sort `programs.*.enable` entries
  home-manager/config/default.nix
Due: nixfmt

feat(hm): enable comma
  home-manager/config/default.nix
Due: nixfmt

chore(plasma-manager): upstream modules
  flake.lock
  home-manager/config/programs/konsole.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/modules/programs/plasma/shortcut-schemes.nix
  home-manager/modules/programs/plasma/web-search-keywords.nix
Due: nixfmt

feat(nix): lint path and URL literals
  home-manager/config/default.nix
Due: nixfmt

style(nix): use size suffixes
  nixos/config/default.nix
Due: nixfmt

feat(nix): run gc if free disk space falls below 1GiB
  home-manager/config/default.nix
  home-manager/submodule.nix
Due: nixfmt

refactor(nix): inherit certain Home Manager settings
  home-manager/submodule.nix
  nixos/config/default.nix
Due: nixfmt

style(ci): rename job to `nix-flake-check`
  .github/workflows/nix-flake-check.yaml
Due: yamlfmt

feat(zsh): global alias to pipe stdout & stderr to less
  home-manager/config/programs/zsh.nix
Due: nixfmt

refactor(konsole): merge colorscheme in submodule
  home-manager/modules/programs/konsole.nix
Due: nixfmt

fix(nvim): suppress false positive diagnostic
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/plugins/lint.lua
Due: none

feat(flake): support all flake-exposed systems
  flake.nix
Due: nixfmt

ci(actions): enable dependabot version updates
  .github/dependabot.yml
Due: yamlfmt

ci(github): enable dependabot version updates
  .github/dependabot.yml
Due: yamlfmt

ci(github): no permissions for nix flake check
  .github/workflows/nix-flake-check.yaml
Due: yamlfmt

chore(flake): upgrade
  flake.lock
Due: none

style(lazygit): sort settings lexicographically
  home-manager/config/programs/lazygit.nix
Due: nixfmt

feat(git): show branch information in short status
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(lazygit): skip warnings automatically
  home-manager/config/programs/lazygit.nix
Due: nixfmt

refactor(lazygit): make integrations dependent
  home-manager/config/programs/lazygit.nix
Due: nixfmt

feat(lazygit): push a specific commit on 'P'
  home-manager/config/programs/lazygit.nix
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
