Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

feat(lazygit): open an associated GitHub PR on 'G'
  home-manager/config/programs/lazygit.nix
Due: nixfmt

refactor(flake): do not forward nixpkgs to haumea
  flake.lock
  flake.nix
Due: nixfmt

feat(flake): import my defaults flake
  .github/workflows/nix-flake-check.yaml
  .sops.yaml
  flake.lock
  flake.nix
  statix.toml
  typos.toml
Due: nixfmt, yamlfmt

chore(flake): update
  flake.lock
Due: none

style: kebab case for file names
  nixpkgs/default.nix
  nixpkgs/konsole-with-full-font-hinting.nix
Due: nixfmt

feat(shellcheck): enable more optional checks
  home-manager/config/programs/shellcheck.nix
Due: nixfmt

feat(writeShellApplication): enable optional checks
  home-manager/config/default.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/konsole.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/okular.nix
  home-manager/config/programs/plasma/dark-mode.sh
  home-manager/config/programs/plasma/default.nix
  home-manager/modules/home.nix
  nixos/config/default.nix
  nixos/config/hardware/ddcutil.nix
  nixpkgs/default.nix
  nixpkgs/write-shell-application-with-optional-checks.nix
Due: nixfmt

chore(nvim): update plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

feat(radboud): set up printing over the network
  nixos/config/profiles/radboud/FollowMe.ppd
  nixos/config/profiles/radboud/default.nix
Due: nixfmt

chore(flake): update
  .github/workflows/nix-flake-check.yaml
  flake.lock
  home-manager/config/development/markdown.nix
  home-manager/config/programs/lazygit.nix
Due: nixfmt, yamlfmt

feat(nvim): replace nvim-pqf by qfview.nvim
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/plugins/qfview.lua
Due: none

chore: rotate the Radboud University password
  nixos/config/secrets.yaml
Due: yamlfmt

refactor: replace saxon_12-he by saxon-he
  lib/merge.nix
Due: nixfmt

feat(nvim): enable the zizmor language server
  home-manager/config/programs/neovim/lua/plugins/lspconfig.lua
Due: none

chore(fzf-tab-completion): 0-unstable-2025-01-20 -> 0-unstable-2026-01-31
  nixpkgs/packages/fzf-tab-completion.nix
Due: nixfmt

fix(nixpkgs): set `__structuredAttrs`
  nixpkgs/packages/fzf-tab-completion.nix
  nixpkgs/packages/rl_custom_function.nix
Due: nixfmt

feat(git): checkout commits in parallel
  home-manager/config/programs/git/default.nix
Due: nixfmt

fix(flake): path was changed
  flake.nix
  nixpkgs/konsole-with-full-font-hinting.nix
Due: nixfmt

feat(nvim): enable the taplo language server
  home-manager/config/programs/neovim/lua/plugins/lspconfig.lua
Due: none

chore(flake): update my centralized defaults
  .convco
  .envrc
  .gitattributes
  .github/dependabot.yml
  .github/workflows/nix-flake-check.yaml
  .gitignore
  .markdownlint.yaml
  flake.lock
  flake.nix
  home-manager/config/development/bash.nix
  home-manager/config/development/lua.nix
  home-manager/config/development/markdown.nix
  home-manager/config/development/yaml.nix
  home-manager/config/programs/shellcheck.nix
  home-manager/config/programs/yamllint.nix
  home-manager/config/secrets.yaml
  home-manager/modules/programs/shellcheck.nix
  home-manager/modules/programs/yamllint.nix
  home-manager/submodule.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

fix(bash): uninstall checkbashisms
  home-manager/config/development/bash.nix
  home-manager/config/programs/neovim/lua/plugins/lint.lua
Due: nixfmt

feat(nvim): set filetype perl for latexmkrc files
  home-manager/config/files/latexmkrc
  home-manager/config/programs/neovim/init.lua
Due: none

refactor(latexmk): do not set the pdf_mode globally
  home-manager/config/files/latexmkrc
Due: none

fix(nvim): robuster disabling of autopair rules
  home-manager/config/programs/neovim/lua/plugins/autopairs.lua
Due: none

chore(firefox): disable homepage in new windows
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(hm): put nixpkgs config into `imports`
  home-manager/standalone.nix
Due: nixfmt

chore(flake): update
  flake.lock
  flake.nix
  home-manager/config/development/arduino.nix
  home-manager/config/programs/konsole.nix
  nixpkgs/default.nix
  nixpkgs/konsole-with-full-font-hinting.nix
Due: nixfmt

refactor(konsole): apply MR fixing split view shortcuts
  flake.lock
  flake.nix
  nixpkgs/default.nix
  nixpkgs/konsole-with-full-font-hinting.nix
  nixpkgs/konsole-with-split-view-shortcuts.nix
Due: nixfmt

fix(nvim): configure TeX dependent on texlab availability
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
Due: none

fix(nvim): overwrite 'include' in TeX files
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
Due: none

fix(dolphin): use also F3 for split view popout
  home-manager/config/programs/dolphin.nix
Due: nixfmt

chore(flake): update
  flake.lock
  flake.nix
  home-manager/config/development/arduino.nix
  home-manager/config/programs/dolphin.nix
  home-manager/config/programs/konsole.nix
  nixpkgs/default.nix
  nixpkgs/konsole-with-full-font-hinting.nix
Due: nixfmt

ref(konsole): apply MR fixing split view shortcuts
  flake.lock
  flake.nix
  nixpkgs/default.nix
  nixpkgs/konsole-with-full-font-hinting.nix
  nixpkgs/konsole-with-split-view-shortcuts.nix
Due: nixfmt

chore(flake): update
  .github/workflows/nix-flake-check.yaml
  flake.lock
  flake.nix
  home-manager/config/default.nix
  nixos/config/default.nix
Due: nixfmt, yamlfmt
