Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

fix(nix): remove duplicate transitive inputs
  flake.lock
  flake.nix
Due: nixfmt

fix(nvim): tab split mappings without trailing `>`
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(nvim): signature help in insert mode
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(nvim): assert non-nil
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nvim): remove superfluous lualine extensions
  home-manager/config/programs/neovim/lua/config/plugins/lualine.lua
Due: none

perf(nvim): load blink when entering insert mode
  home-manager/config/programs/neovim/lua/config/plugins/blink.cmp.lua
Due: none

chore(nvim): do not revert LSP keymaps
  home-manager/config/programs/neovim/init.lua
Due: none

fix(nvim): disable luarocks plugins
  home-manager/config/programs/neovim/init.lua
Due: none

chore(plasma): remove global touchpad config
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

fix(plasma): vendor and product id as hexadecimals
  home-manager/config/programs/plasma/default.nix
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(orion): timeout when keyfile is missing
  hosts/orion.nix
Due: nixfmt

chore(nixos): remove redundant configuration
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(nixos): enable lazyy, strict access times
  hosts/orion.nix
  hosts/radboud.nix
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/dolphin.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/konsole.nix
  home-manager/config/programs/yazi.nix
  home-manager/modules/programs/keepassxc.nix
  hosts/orion.nix
  hosts/radboud.nix
  nixos/config/default.nix
  nixpkgs/default.nix
  nixpkgs/epson-workforce-635-nx625-series/default.nix
  nixpkgs/epson-workforce-635-nx625-series/eps_raster_print-cast.patch
  nixpkgs/epson-workforce-635-nx625-series/include-raster-helper.patch
  nixpkgs/konsole_with_full_font_hinting.nix
Due: nixfmt

feat(nixos): enable TRIM on encrypted devices
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(radboud): speed up early LUKS decryption
  hosts/radboud.nix
Due: nixfmt

chore(nvim): upgrade to v0.11
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lsp/bashls.lua
  home-manager/config/programs/neovim/lsp/hls.lua
  home-manager/config/programs/neovim/lsp/ltex_plus.lua
  home-manager/config/programs/neovim/lsp/lua_ls.lua
  home-manager/config/programs/neovim/lsp/nil_ls.lua
  home-manager/config/programs/neovim/lsp/texlab.lua
  home-manager/config/programs/neovim/lsp/yamlls.lua
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/impairative.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
  home-manager/config/programs/neovim/lua/util/lsp/goto.lua
Due: none

feat(radboud): configure Intel CPU and GPU
  hosts/radboud.nix
Due: nixfmt

style(nixos): rename LUKS device `linux` -> `root`
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(radboud): enable Nvidia Optimus PRIME offload
  hosts/radboud.nix
Due: nixfmt

fix(firefox): rename `{,network.}dnsCacheEntries`
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(radboud): enable unattended boot
  hosts/radboud.nix
Due: nixfmt

refactor: use `lib.uuid`
  hosts/radboud.nix
Due: nixfmt

feat: manage secrets with sops-nix
  .sops.yaml
  README.md
  flake.lock
  flake.nix
  home-manager/config/default.nix
  home-manager/config/programs/gh.nix
  home-manager/config/programs/glab.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/config/plugins/pantran.lua
  home-manager/config/secrets.yaml
  typos.toml
Due: markdownlint, mdformat, nixfmt, yamlfmt

refactor: upstream `programs.gh.hosts`
  flake.lock
  home-manager/config/programs/zsh.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/gh.nix
  home-manager/modules/programs/zsh.nix
Due: nixfmt

fix(glab): apply settings side-effectfully
  home-manager/modules/programs/glab.nix
Due: nixfmt

feat(glab): add option to configure aliases
  home-manager/modules/programs/glab.nix
Due: nixfmt

refactor: upstream Dell Precision 3490 settings
  flake.lock
  hosts/radboud.nix
Due: nixfmt

fix(git): enable difftastic as difftool
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(gh): add host-specific configuration
  home-manager/config/programs/gh.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/gh.nix
Due: nixfmt

feat(nixos): deploy my password
  flake.nix
  nixos/config/default.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

ci(pre-commit): integrate yamlfmt
  flake.nix
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

ci(actions): run the flake check
  .github/workflows/nix-flake-check.yaml
  flake.nix
Due: nixfmt, yamlfmt

feat(nvim): set JSON indentation size to two
  home-manager/config/programs/neovim/after/ftplugin/json.lua
Due: none

refactor: run formatters through `treefmt` only
  flake.nix
Due: nixfmt

refactor: implement suggestions from the README
  README.md
  home-manager/config/profiles/macos.nix
Due: markdownlint, mdformat, nixfmt

docs: update
  .ltex/ltex.dictionary.en-GB.txt
  .ltex/ltex.hiddenFalsePositives.en-GB.txt
  README.md
Due: markdownlint, mdformat

ci(pre-commit): remove shellcheck
  flake.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

feat(fzf-tab-completion): build with all features
  home-manager/config/programs/fzf-tab-completion.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  nixpkgs/packages/default.nix
  nixpkgs/packages/fzf-tab-completion.nix
  nixpkgs/packages/rl_custom_function.nix
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
