Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

chore: remove trailing dots in `mkEnableOption`
  home-manager/config/development/arduino.nix
  home-manager/config/development/bash.nix
  home-manager/config/development/c.nix
  home-manager/config/development/container.nix
  home-manager/config/development/java.nix
  home-manager/config/development/kubernetes.nix
  home-manager/config/development/lua.nix
  home-manager/config/development/markdown.nix
  home-manager/config/development/nix.nix
  home-manager/config/development/yaml.nix
  home-manager/config/profiles/gui.nix
  home-manager/config/profiles/macos.nix
  home-manager/config/profiles/radboud.nix
  home-manager/config/profiles/standalone.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/zotero.nix
  home-manager/modules/programs/dolphin.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  home-manager/modules/programs/kmail.nix
  home-manager/modules/programs/merkuro.nix
  home-manager/modules/programs/shellcheck.nix
  home-manager/modules/programs/signal-desktop.nix
  home-manager/modules/programs/slack.nix
  home-manager/modules/programs/taskell.nix
  home-manager/modules/programs/yamllint.nix
  nixos/config/impermanence.nix
  nixos/config/profiles/gui.nix
  nixos/config/profiles/radboud/default.nix
  nixos/config/programs/nitrile.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

fix(hm): do not upgrade automatically
  home-manager/config/profiles/macos.nix
  home-manager/config/profiles/standalone.nix
Due: nixfmt

fix(nixos): re-enable kmscon; magically fixed
  nixos/config/default.nix
Due: nixfmt

refactor(flake): expose my extended library
  flake.nix
Due: nixfmt

fix(kmscon): color `17` -> `base17`
  nixos/config/services/kmscon.nix
Due: nixfmt

chore: update the state version
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/undotree.lua
Due: none

fix(keepassxc): replace rg by grep
  home-manager/config/programs/keepassxc.nix
Due: nixfmt

chore: use `lib.getExe`
  flake.nix
  home-manager/config/development/kubernetes.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/konsole.nix
  home-manager/config/programs/zoxide.nix
  home-manager/config/remove-leaked-path-entries.nix
  home-manager/modules/programs/goto.nix
  lib/merge.nix
  nixos/config/programs/nitrile.nix
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

fix(nixpkgs): allow aliases
  nixpkgs/default.nix
Due: nixfmt

chore(radboud): Owncloud to Nextcloud migration
  home-manager/config/profiles/linux.nix
  home-manager/config/programs/nextcloud-client.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/profiles/linux.nix
  home-manager/config/programs/lazygit.nix
Due: nixfmt

fix(nvim): do not show tabline after background switch
  home-manager/config/programs/neovim/lua/config/plugins/lualine.lua
Due: none

feat: prefer the usage of Xdg directories
  home-manager/config/default.nix
Due: nixfmt

chore: upstream the glab module
  flake.lock
  home-manager/modules/programs/glab.nix
Due: nixfmt

feat(hm): install packages through NixOS when available
  home-manager/submodule.nix
Due: nixfmt

chore(hm): move config to the standalone profile
  home-manager/config/default.nix
  home-manager/config/profiles/standalone.nix
  hosts/installer.nix
Due: nixfmt

feat(plasma): toggle dark mode asynchronously
  home-manager/config/programs/plasma/dark-mode.sh
Due: none

fix(nixos): apply the Home Manager config only to my user
  flake.nix
Due: nixfmt

chore: remove redundant prefixes in file names
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/fzf/state.sh
  home-manager/config/programs/plasma/dark-mode.sh
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

fix(nvim): normalize the file name to be included
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

refactor(hm): extract the usage as embedded submodule
  flake.nix
  home-manager/config/programs/command-not-found.nix
  home-manager/config/programs/taskell.nix
  home-manager/default.nix
  home-manager/submodule.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/profiles/radboud.nix
  home-manager/config/programs/glab.nix
  home-manager/config/secrets.yaml
Due: nixfmt, yamlfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

style: remove redundant quotes
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

fix(flake): pass home-manager into plasma-manager
  flake.lock
  flake.nix
Due: nixfmt

fix: prevent /efi from being world-readable
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
