Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        language: system
        args: [--staged, --msg-filename]
        stages: [commit-msg]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        language: system
        args: [--verify]
        types: [nix]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        language: system
        args: [--write, --simplify, --indent=4]
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        args: [--search-parent-directories]
        types: [lua]
        exclude: '^.config/nvim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]
        exclude: '^.config/gh/config.yaml$'

feat(nvim): robust undotree via the fundo plugin
  .config/nvim/lazy-lock.json
  .config/nvim/lua/config/plugins/fundo.lua
Due: none

refactor: disable ShellCheck errors inline
  .config/home-manager/nixos/config/default.nix
  .config/home-manager/nixos/config/kmod-params.sh
Due: nixfmt

fix(pre-commit): do not propagage the Python env
  .config/home-manager/nixpkgs/pre-commit_with_meta_hooks.nix
Due: nixfmt

fix(nix): override `buildPythonApplication` attrs
  .config/home-manager/nixpkgs/pre-commit_with_meta_hooks.nix
Due: nixfmt

chore(nvim): upgrade plugins
  .config/nvim/lazy-lock.json
  .config/nvim/lua/config/plugins/lspconfig.lua
Due: none

chore(cups): remove outdated config
  .config/cups/lpoptions
Due: none

chore(fd): remove superfluous ignore patterns
  .config/fd/ignore
Due: none

fix(hm): flake variant of `mkOutOfStoreSymlink`
  home-manager/config/files/default.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/modules/files.nix
  home-manager/modules/module-list.nix
Due: nixfmt

ci: manage pre-commit hooks through Nix
  .convco
  .envrc
  .gitignore
  .gitlint
  .pre-commit-config.yaml
  flake.lock
  flake.nix
Due: nixfmt, yamlfmt

ci(stylua): exclude parts through directives
  flake.nix
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: nixfmt

ci(pre-commit): check for typos in symbols
  flake.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/kmail.nix
  typos.toml
Due: nixfmt

chore(nvim): remove unused variable
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore: remove leftovers from traditional Nix setup
  .gitignore
Due: none

feat(fd): ignore `.git` directories
  home-manager/config/default.nix
  home-manager/config/programs/fd.nix
Due: nixfmt

feat(nvim): make lua-ls settings workdir-dependent
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: none

ci(selene): allow mixed tables and set Lua version
  home-manager/config/programs/neovim/neovim.yaml
  home-manager/config/programs/neovim/selene.toml
Due: yamlfmt

ci(pre-commit): remove superfluous Zsh exclusion
  flake.nix
Due: nixfmt

feat(nvim): add dart filetype config
  home-manager/config/programs/neovim/after/ftplugin/dart.lua
Due: none

refactor(nvim): use `vim.g` instead of `_G`
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(ghci): warn about less things
  home-manager/config/files/ghci.conf
Due: none

chore: remove superfluous SSH configuration
  home-manager/config/default.nix
  home-manager/config/programs/ssh.nix
Due: nixfmt

fix(keepassxc): only configure if enabled
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
Due: nixfmt

fix(nvim): load fundo
  home-manager/config/programs/neovim/lua/config/plugins/fundo.lua
Due: none

style: end enable-option descriptions with a dot
  home-manager/config/ci/pre-commit.nix
  home-manager/config/development/bash.nix
  home-manager/config/development/c.nix
  home-manager/config/development/container.nix
  home-manager/config/development/kubernetes.nix
  home-manager/config/development/lua.nix
  home-manager/config/development/markdown.nix
  home-manager/config/development/nix.nix
  home-manager/config/development/yaml.nix
  home-manager/config/profiles/gui.nix
  home-manager/config/profiles/macos.nix
  home-manager/config/profiles/radboud.nix
  home-manager/config/profiles/standalone.nix
  home-manager/config/profiles/uni-muenster.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  home-manager/modules/programs/gcc.nix
  home-manager/modules/programs/grep.nix
  home-manager/modules/programs/keepassxc.nix
  home-manager/modules/programs/kubectl.nix
  home-manager/modules/programs/plasma.nix
  home-manager/modules/programs/shellcheck.nix
  home-manager/modules/programs/taskell.nix
  home-manager/modules/programs/yamllint.nix
  home-manager/modules/programs/zsh.nix
  home-manager/modules/services/davmail.nix
Due: nixfmt

fix(firefox): extension package option was renamed
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

ci: integrate treefmt
  .mdformat.toml
  flake.lock
  flake.nix
  stylua.toml
Due: nixfmt

feat(firefox): install refined-github addon
  README.md
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): install auto-tab-discard addon
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat: install Zotero
  home-manager/config/default.nix
  home-manager/config/profiles/radboud.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/zotero.nix
Due: nixfmt

refactor: use flake-parts
  flake.lock
  flake.nix
Due: nixfmt

refactor(davmail): outsource Radboud specifics
  home-manager/config/profiles/radboud.nix
  home-manager/config/services/davmail.nix
Due: nixfmt

chore(git): remove duplicate global ignore entry
  home-manager/config/profiles/linux.nix
Due: nixfmt

fix(davmail): use correct configuration parameter
  home-manager/config/profiles/radboud.nix
Due: nixfmt

refactor: change my Github handle to `bmrips`
  .convco
  README.md
  home-manager/config/programs/neovim/lua/config/plugins/nest.lua
  home-manager/config/programs/neovim/lua/config/plugins/session.lua
Due: none

fix(davmail): set `oauth.tokenFilePath` by default
  home-manager/config/default.nix
  home-manager/config/profiles/radboud.nix
  home-manager/config/services/davmail.nix
  home-manager/modules/services/davmail.nix
Due: nixfmt

fix(nvim): disable pair rules in multiline strings
  home-manager/config/programs/neovim/lua/config/plugins/autopairs.lua
Due: none

refactor(davmail): put log file in top-level dir
  home-manager/modules/services/davmail.nix
Due: nixfmt

refactor(davmail): use pkgs.formats.javaProperties
  home-manager/config/profiles/radboud.nix
  home-manager/modules/services/davmail.nix
Due: nixfmt

chore(nixos): upgrade (excl. nixpkgs)
  flake.lock
  home-manager/config/development/kubernetes.nix
  home-manager/config/profiles/macos.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/goto.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/config/programs/zoxide.nix
  home-manager/config/programs/zsh.nix
  home-manager/config/remove-leaked-path-entries.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  home-manager/modules/programs/goto.nix
  home-manager/modules/programs/zsh.nix
  home-manager/modules/services/davmail.nix
Due: nixfmt
