Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

chore(nvim): load plugins late
  home-manager/config/programs/neovim/init.lua
Due: none

fix(radboud): Wifi scan with non-randomized MAC address
  nixos/config/profiles/radboud.nix
Due: nixfmt

chore(nvim): remove abandoned resize mode
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

refactor(nvim): streamline plugin specifications
  home-manager/config/programs/neovim/lua/config/plugins/lazydev.lua
  home-manager/config/programs/neovim/lua/config/plugins/leap.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: none

chore(nixos): upgrade
  flake.lock
Due: none

chore(nvim): make autocmds consistent
  home-manager/config/programs/neovim/after/ftplugin/dot.lua
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/gruvbox-material.lua
  home-manager/config/programs/neovim/lua/config/plugins/highlight-undo.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
Due: none

feat(nvim): add a trailing comma in multi-line Lua tables
  home-manager/config/programs/neovim/lua/config/plugins/autopairs.lua
Due: none

feat(nvim): use Snacks picker for LSP navigation
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
  home-manager/config/programs/neovim/lua/util/lsp/goto.lua
Due: none

feat(nvim): install 'live-preview.nvim'
  home-manager/config/programs/neovim/after/ftplugin/markdown.lua
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/live-preview.lua
  home-manager/config/programs/neovim/lua/config/plugins/markdown-preview.lua
Due: nixfmt

feat(nvim): install 'todo_comments.nvim'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/todo_comments.lua
Due: none

feat(nvim): install 'snacks.nvim`
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/dressing.lua
  home-manager/config/programs/neovim/lua/config/plugins/fzf-lua.lua
  home-manager/config/programs/neovim/lua/config/plugins/indent-blankline.lua
  home-manager/config/programs/neovim/lua/config/plugins/luapad.lua
  home-manager/config/programs/neovim/lua/config/plugins/notify.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
  home-manager/config/programs/neovim/neovim.yaml
Due: nixfmt, yamlfmt

fix(nvim): bind LSP hover explicitly to 'K'
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(nvim): remove erroneous mapping RHS
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

style: indent shell code with two spaces
  home-manager/config/development/kubernetes.nix
  home-manager/config/programs/fzf-tab-completion.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/git/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/mkcd.nix
  home-manager/config/programs/zoxide.nix
  home-manager/config/programs/zsh.nix
  home-manager/modules/programs/goto.nix
Due: nixfmt

feat(nvim): move LSP renaming to 'gr'
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

build: check whether pre-commit is enabled
  flake.nix
Due: nixfmt

build: define devShell with `pkgs.mkShell`
  flake.nix
Due: nixfmt

ci: move yamlfmt from pre-commit hooks to treefmt
  flake.nix
Due: nixfmt

chore(sh): remove superfluous `eval`s
  home-manager/config/programs/fzf/default.nix
Due: nixfmt

refactor(nvim): add ltex-ls-plus unconditionally
  home-manager/config/development/markdown.nix
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

feat(nvim): integrate the Harper language server
  home-manager/config/programs/neovim/after/lsp/harper_ls.lua
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

fix(git): do not ignore '.direnv/' and '/result' globally
  .gitignore
  home-manager/config/programs/git/default.nix
Due: nixfmt

refactor(nvim): shorten a conditional return
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(radboud): use a static salt for token encryption
  home-manager/config/profiles/radboud.nix
Due: nixfmt

feat(nvim): install 'atone.nvim'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/atone.lua
  home-manager/config/programs/neovim/lua/config/plugins/undotree.lua
Due: none

chore: fix typo
  home-manager/config/default.nix
  home-manager/config/programs/neovim/init.lua
Due: nixfmt

feat(nvim): integrate JSON language server
  home-manager/config/default.nix
  home-manager/config/development/json.nix
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

refactor(nvim): clear highlight groups by default
  home-manager/config/programs/neovim/after/ftplugin/dot.lua
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/lua/config/plugins/gruvbox-material.lua
  home-manager/config/programs/neovim/lua/config/plugins/highlight-undo.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

fix(plasma): do not escape commas in shortcuts
  flake.lock
  flake.nix
Due: nixfmt

feat(nvim): enable the clangd language server
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: none

refactor: home.stateVersion defaults to system.stateVersion
  home-manager/config/default.nix
  hosts/installer.nix
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

refactor(nvim): replace LuaLS by EmmyLuaLS
  home-manager/config/development/lua.nix
  home-manager/config/programs/neovim/after/lsp/emmylua_ls.lua
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

feat(nvim): configure 'trouble.nvim' properly
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/aerial.lua
  home-manager/config/programs/neovim/lua/config/plugins/trouble.lua
Due: none

fix(nvim): add missing dependency
  home-manager/config/programs/neovim/lua/config/plugins/treesj.lua
Due: none

fix(lazygit): `git.paging` -> `git.pagers`
  home-manager/config/programs/lazygit.nix
Due: nixfmt

ci(typos): ignore 'substituters'
  typos.toml
Due: none

chore(nvim): upgrade my session plugin
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/session.lua
Due: none
