Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

chore(hm): upstream some more modules
  flake.lock
  home-manager/config/programs/goto.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/git-credential-keepassxc.nix
  home-manager/modules/programs/goto.nix
  home-manager/modules/programs/keepassxc.nix
Due: nixfmt

fix(hm): enable Sioyek in the GUI profile
  home-manager/config/default.nix
  home-manager/config/profiles/gui.nix
Due: nixfmt

chore(hm): remove obsolete Uni Münster profile
  home-manager/config/default.nix
  home-manager/config/profiles/uni-muenster.nix
  hosts/orion.nix
Due: nixfmt

chore: remove redundant kubectl module
  home-manager/config/development/kubernetes.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/kubectl.nix
Due: nixfmt

chore(hm): uninstall Chromium
  home-manager/config/profiles/gui.nix
Due: nixfmt

fix(plasma): do not bypass the KWallet setup
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat: add an installer image
  README.md
  flake.nix
  home-manager/config/programs/neovim/default.nix
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt

fix(nvim): preserve dependencies injected by Nix
  home-manager/config/programs/neovim/init.lua
Due: none

refactor(nvim): limit dependencies to local scope
  home-manager/config/profiles/gui.nix
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

feat(nvim): use precompiled nvim-treesitter plugin
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: nixfmt

chore(firefox): remove privacy-protecting plugins
  README.md
  home-manager/config/programs/firefox/default.nix
Due: markdownlint, mdformat, nixfmt

refactor(hm): replace VLC by Haruna
  home-manager/config/profiles/gui.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat(plasma): enable XDG portals
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

fix(kmail): install akonadi-search
  home-manager/modules/programs/kmail.nix
Due: nixfmt

feat(radboud): enable secure boot
  .ltex/ltex.dictionary.en-GB.txt
  README.md
  flake.lock
  flake.nix
  hosts/radboud.nix
Due: markdownlint, mdformat, nixfmt

chore(nvim): remove the Gruvbox colorscheme
  home-manager/config/programs/neovim/lua/config/plugins/gruvbox.lua
  home-manager/config/programs/neovim/lua/lualine/themes/gruvbox_dark.lua
  home-manager/config/programs/neovim/lua/lualine/themes/gruvbox_light.lua
Due: none

docs: fix typo
  README.md
Due: markdownlint, mdformat

feat(radboud): enable TPM disk decryption
  README.md
  hosts/radboud.nix
Due: markdownlint, mdformat, nixfmt

feat(radboud): enable userspace TPM access
  hosts/radboud.nix
  nixos/config/default.nix
  nixos/config/security/tpm2.nix
Due: nixfmt

style: name hosts after laptop models
  flake.nix
  hosts/private-xps13-9360.nix
  hosts/radboud-precision4390.nix
Due: nixfmt

feat(hm): enable the Linux profile when on Linux
  home-manager/config/profiles/linux.nix
  nixos/config/default.nix
Due: nixfmt

refactor: consistently use `stdenv.hostPlatform`
  home-manager/config/profiles/gui.nix
  home-manager/config/profiles/linux.nix
  home-manager/config/profiles/radboud.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

refactor(hm): pass hostname to the modules
  flake.nix
  home-manager/config/programs/firefox/default.nix
  nixos/config/profiles/gui.nix
Due: nixfmt

fix: guard Linux- and GUI-dependent features
  home-manager/config/profiles/gui.nix
  home-manager/config/profiles/linux.nix
Due: nixfmt

refactor(dualboot): allow any device reference
  hosts/orion.nix
  hosts/radboud.nix
  nixos/config/dualboot.nix
Due: nixfmt

fix(ddcutil): brightness increase keymap callback
  nixos/config/hardware/ddcutil.nix
Due: nixfmt

refactor(lib): remove (PART)UUID functions
  hosts/orion.nix
  hosts/radboud.nix
  lib/default.nix
  lib/uuid.nix
  nixos/config/dualboot.nix
Due: nixfmt

refactor: use haumea to load my library extension
  flake.lock
  flake.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/ripgrep.nix
  home-manager/config/programs/zoxide.nix
  home-manager/modules/home.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  lib/ansiEscapeCodes.nix
  lib/ansi_escape_codes.nix
  lib/colorschemes/default.nix
  lib/colorschemes/gruvbox.nix
  lib/colorschemes/gruvbox_material.nix
  lib/dec2hex.nix
  lib/default.nix
  lib/fzf.nix
  lib/gnuCommand.nix
  lib/gnu_option_constructors.nix
  lib/hex.nix
  lib/hex2dec.nix
  lib/plasma.nix
  lib/rgb.nix
  lib/shell.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

feat(lazygit): do not treat GPG signing specially
  home-manager/config/programs/lazygit.nix
Due: nixfmt

refactor: use haumea to collect my modules
  flake.nix
  home-manager/config/default.nix
  home-manager/default.nix
  home-manager/modules/module-list.nix
  lib/haumea.nix
  nixos/config/default.nix
  nixos/default.nix
  nixos/modules/module-list.nix
Due: nixfmt

refactor(hm): use `assertPlatform`
  home-manager/config/profiles/linux.nix
  home-manager/config/profiles/macos.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat(sops): seal the age master key by the TPM
  .sops.yaml
  README.md
  flake.nix
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
Due: markdownlint, mdformat, nixfmt, yamlfmt

chore(hm): upstream my `less` module
  flake.lock
  home-manager/modules/module-list.nix
  home-manager/modules/programs/less.nix
Due: nixfmt

feat(hm): enable TPM-backed SSH if TPM2 is enabled
  home-manager/config/default.nix
  home-manager/config/profiles/linux.nix
Due: nixfmt

docs: Signal and Spotify configuration
  README.md
Due: markdownlint, mdformat

feat(nix): add nix-community substituters
  home-manager/config/default.nix
  nixpkgs/age_with_plugins.nix
  nixpkgs/default.nix
Due: nixfmt

fix(nixos): enable the `nix` command and flakes
  nixos/config/default.nix
Due: nixfmt

fix(installer): enable TPM2, thunderbolt, bluetooth
  hosts/installer.nix
Due: nixfmt

feat(installer): add my passwords database
  .github/workflows/nix-flake-check.yaml
  README.md
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt, yamlfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
