Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

refactor(nvim): check file existence with `uv.fs_stat`
  home-manager/config/programs/neovim/lua/file.lua
Due: none

chore(nvim): remove the reindent functionality
  home-manager/config/programs/neovim/lua/reindent.lua
Due: none

style(nvim): name the module table `M`
  home-manager/config/programs/neovim/lua/compat/vimscript/init.lua
  home-manager/config/programs/neovim/lua/compat/vimscript/plugin.lua
Due: none

fix: guard attributes instead of their values
  home-manager/modules/programs/yamllint.nix
Due: nixfmt

refactor(plasma): split shortcuts and search modules
  home-manager/modules/programs/plasma.nix
  home-manager/modules/programs/plasma/shortcut-schemes.nix
  home-manager/modules/programs/plasma/web-search-keywords.nix
Due: nixfmt

fix(merged-files): add dependency on coreutils
  home-manager/modules/home.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  nixos/config/services/desktopManager/plasma6.nix
  nixos/config/services/displayManager/sddm.nix
Due: nixfmt

fix(git): remove redundant default setting
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat(nvim): add a debugging template
  home-manager/config/programs/neovim/debug.lua
Due: none

chore(firefox): search.nixos.org hosts HM search
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

refactor: use `lib.options.showOption`
  home-manager/modules/home.nix
  home-manager/modules/programs/plasma/web-search-keywords.nix
Due: nixfmt

fix(git): set the signing format to 'openpgp'
  home-manager/config/programs/git/default.nix
Due: nixfmt

fix(nvim): leap module was renamed
  home-manager/config/programs/neovim/lua/mappings.lua
Due: none

docs(nixos): wipe the TPM2 slot in the LUKS header
  README.md
Due: markdownlint, mdformat

refactor: remove preservation and impermanence
  flake.lock
  flake.nix
  hosts/radboud-precision3490.nix
  nixos/config/impermanence.nix
  nixos/config/preservation.nix
Due: nixfmt

feat(nvim): toggles for code lens and inlay hints
  home-manager/config/programs/neovim/lua/plugins/impairative.lua
Due: none

chore(nvim): annotate assertion with message
  home-manager/config/programs/neovim/init.lua
Due: none

fix(nvim): the assert function accepts any value
  home-manager/config/programs/neovim/neovim.yaml
Due: yamlfmt

fix(nixos): do not enable zram by default
  hosts/radboud-precision3490.nix
  nixos/config/default.nix
Due: nixfmt

refactor(sops): annotate age keys with hosts
  .sops.yaml
Due: yamlfmt

style(nixos): remove hostname prefixes
  flake.nix
  hosts/precision3490.nix
  hosts/xps13-9360.nix
Due: nixfmt

fix(installer): disable Nextcloud and SOPS secrets
  home-manager/config/default.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/gh.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/sops.nix
  home-manager/modules/sops.nix
  hosts/installer.nix
  nixos/config/default.nix
  nixos/config/networking/networkmanager.nix
  nixos/config/sops.nix
Due: nixfmt

chore(nixos): use default ESP mount point
  nixos/config/default.nix
Due: nixfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
