Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

fix(bt-dualboot): enable if bluetooth is enabled
  nixos/config/dualboot.nix
Due: nixfmt

feat(bt-dualboot): toggle and prune backups
  nixos/config/dualboot.nix
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

feat(nixos): create /mnt automatically
  hosts/installer.nix
  nixos/config/default.nix
Due: nixfmt

feat(keepassxc): guard auto-unlocking by an option
  home-manager/config/programs/keepassxc.nix
  hosts/installer.nix
  hosts/radboud-precision4390.nix
Due: nixfmt

refactor(installer): use a systemd-backed initrd
  hosts/installer.nix
Due: nixfmt

feat(nixos): set root password
  .sops.yaml
  home-manager/config/secrets.yaml
  hosts/installer.nix
  nixos/config/default.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

feat(lacie): use TPM-sealed decryption keys
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

refactor(sops): bind HM's key file to NixOS' key file
  home-manager/config/default.nix
Due: nixfmt

docs: correct the NixOS installation command
  README.md
Due: markdownlint, mdformat

style(sops): put age keys on separate lines
  .sops.yaml
Due: yamlfmt

feat(nixos): make users and groups immutable
  nixos/config/default.nix
Due: nixfmt

feat(keepassxc): add settings
  home-manager/config/programs/keepassxc.nix
  hosts/radboud-precision4390.nix
Due: nixfmt

docs(plasma): set the GTK theme to 'Breeze'
  README.md
Due: markdownlint, mdformat

feat: put the cache into a subvolume and clean it
  home-manager/config/profiles/linux.nix
  nixos/config/default.nix
Due: nixfmt

fix(sops): move key file into the root volume
  README.md
  nixos/config/default.nix
Due: markdownlint, mdformat, nixfmt

fix(sops): no TPM-sealed age master key
  .sops.yaml
  README.md
  flake.nix
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
  nixpkgs/age_with_plugins.nix
  nixpkgs/default.nix
Due: markdownlint, mdformat, nixfmt, yamlfmt

feat(nixos): link `/etc/nixos` automatically
  README.md
  nixos/config/default.nix
Due: markdownlint, mdformat, nixfmt

feat(nixos): set Plasma as default session
  hosts/installer.nix
  nixos/config/services/desktopManager/plasma6.nix
Due: nixfmt

feat(nixos): put the log into a subvolume
  nixos/config/default.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(nvim): pin nvim-treesitter when locally installed
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

refactor(nixos): configure Btrbk automatically
  hosts/private-xps13-9360.nix
  hosts/radboud-precision4390.nix
  nixos/config/dualboot.nix
  nixos/config/hardware/devices/lacie_drive.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

refactor(nixos): move optional mounts to `/media`
  nixos/config/dualboot.nix
  nixos/config/hardware/devices/lacie_drive.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

refactor: get the home directory from the config
  home-manager/config/programs/fzf/default.nix
  nixos/config/default.nix
  nixos/config/programs/nitrile.nix
Due: nixfmt

refactor(nixos): move the SOPS key back to /home
  README.md
  nixos/config/default.nix
Due: markdownlint, mdformat, nixfmt

feat(installer): add my passwords database
  .github/workflows/nix-flake-check.yaml
  README.md
  hosts/installer.nix
Due: markdownlint, mdformat, nixfmt, yamlfmt

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
