Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

chore(sioyek): remove already-default settings
  home-manager/config/programs/sioyek.nix
Due: nixfmt

fix(sioyek): use dark mode instead of custom colors
  home-manager/config/programs/sioyek.nix
Due: nixfmt

refactor: recursion with `config` instead of `rec`
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/zsh.nix
Due: nixfmt

feat(gpg): configure
  home-manager/config/programs/gpg.nix
Due: nixfmt

fix(git): ignore /.direnv/
  home-manager/config/programs/git/default.nix
Due: nixfmt

fix(hm): specify output format for yq-based merges
  lib/merge.nix
Due: nixfmt

fix(firefox): do not save session on close or exit
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(xps13): enable the TPM2 chip
  hosts/private-xps13-9360.nix
Due: nixfmt

fix(gpg-agent): enable on all platforms
  home-manager/config/default.nix
  home-manager/config/profiles/linux.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

refactor(linux): remove redundant let binding
  home-manager/config/profiles/linux.nix
Due: nixfmt

feat(xps13): enable KeePassXC auto-unlocking
  hosts/private-xps13-9360.nix
Due: nixfmt

fix(gpg-agent): stricter caching TTLs
  home-manager/config/default.nix
Due: nixfmt

feat: use gpg-agent for SSH authentication
  home-manager/config/default.nix
  home-manager/config/profiles/linux.nix
  home-manager/config/profiles/radboud.nix
Due: nixfmt

feat(btrbk): more snapshots and emergency backups
  nixos/config/services/btrbk.nix
Due: nixfmt

chore(keepassxc): remove the autounlock feature
  home-manager/config/programs/keepassxc.nix
  home-manager/config/secrets.yaml
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt, yamlfmt

fix(nvim): truecolor support detection is builtin
  home-manager/config/programs/neovim/init.lua
Due: none

feat(xps13): enable the Radboud profile
  hosts/private-xps13-9360.nix
Due: nixfmt

fix(nvim): do not flatten LSP settings
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
Due: none

fix(dolphin): remove side padding in details view
  home-manager/config/programs/dolphin.nix
Due: nixfmt

fix(nvim): truecolor support detection is builtin
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/colorizer.lua
Due: none

fix: secrets merged into files depend on sops-nix
  home-manager/modules/home.nix
Due: nixfmt

feat(plasma): hide the brightess widget
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat(merged-files): warn if sources do not exist
  home-manager/modules/home.nix
  lib/merge.nix
Due: nixfmt

chore(radboud): unregister the Windows system
  hosts/radboud-precision3490.nix
Due: nixfmt

chore(haumea): remove redundant inputs
  home-manager/default.nix
  lib/haumea.nix
  nixos/default.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/plasma/default.nix
  home-manager/config/programs/sioyek.nix
  nixos/config/default.nix
Due: nixfmt

feat(konsole): use the intense base24 colors
  home-manager/config/programs/konsole.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/surround.lua
Due: none

feat(plasma): adjust volume by scrolling over task
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat: enable ZRAM swap by default
  hosts/radboud-precision3490.nix
  nixos/config/default.nix
Due: nixfmt

fix(fonts): specify font rendering
  home-manager/config/default.nix
Due: nixfmt

refactor(nvim): use `<Cmd>` for command mappings
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

feat(nvim): toggle colorization on <Leader>c
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nvim): unregister cabal_fmt
  home-manager/config/programs/neovim/lua/config/plugins/conform.lua
Due: none

fix(nvim): disable treefmt for Haskell files
  home-manager/config/programs/neovim/lua/config/plugins/conform.lua
Due: none
