Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

style(sops): put age keys on separate lines
  .sops.yaml
Due: yamlfmt

refactor(nixos): configure Btrbk automatically
  hosts/private-xps13-9360.nix
  hosts/radboud-precision4390.nix
  nixos/config/dualboot.nix
  nixos/config/hardware/devices/lacie_drive.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

fix: 'precision4390' -> 'precision3490'
  flake.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

refactor: get the home directory from the config
  home-manager/config/programs/fzf/default.nix
  nixos/config/default.nix
  nixos/config/programs/nitrile.nix
Due: nixfmt

fix(nvim): pin nvim-treesitter when locally installed
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

chore(plasma): decide against autologin
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

chore(nixos): remove `services.btrfs.autoScrub.fileSytems`
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

feat(nixos): set Plasma as default session
  hosts/installer.nix
  nixos/config/services/desktopManager/plasma6.nix
Due: nixfmt

fix(nixos): do not mount with `autodefrag` on SSDs
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

refactor(nixos): move optional mounts to `/media`
  nixos/config/dualboot.nix
  nixos/config/hardware/devices/lacie_drive.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

refactor(nixos): add an abstract Btrfs interface
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
  nixos/config/btrfs.nix
  nixos/config/default.nix
  nixos/config/services/btrbk.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

chore(lacie): remove redundant mount option
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

refactor(nixos): centralize common settings
  hosts/installer.nix
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
  nixos/config/default.nix
Due: nixfmt

feat(nixos): lock the root account
  nixos/config/default.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

feat(nixos): set the configuration revision
  nixos/config/default.nix
Due: nixfmt

feat(nixos): impermanent root file system
  flake.lock
  flake.nix
  hosts/radboud-precision3490.nix
  nixos/config/impermanence.nix
  nixos/config/preservation.nix
Due: nixfmt

fix(network-online): wait for internet reachable
  nixos/config/default.nix
Due: nixfmt

feat(nixos): extract a radboud profiles
  hosts/radboud-precision3490.nix
  nixos/config/profiles/radboud.nix
Due: nixfmt

feat(NetworkManager): add basic profiles
  nixos/config/networking/networkmanager.nix
  nixos/config/profiles/radboud.nix
  nixos/config/profiles/radboud/ca-cert.pem
  nixos/config/profiles/radboud/default.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

refactor(keepassxc): deploy password with sops-nix
  README.md
  home-manager/config/programs/keepassxc.nix
  home-manager/config/secrets.yaml
Due: markdownlint, mdformat, nixfmt, yamlfmt

refactor(gruvbox): include all colors
  lib/colorschemes/gruvbox.nix
Due: nixfmt

fix(nvim): do not synchronize the background
  home-manager/config/programs/neovim/init.lua
Due: none

feat(radboud): install arduino-ide
  home-manager/config/profiles/radboud.nix
Due: nixfmt

feat(gruvbox-material): include all colors
  home-manager/config/programs/konsole.nix
  lib/colorschemes/gruvbox_material.nix
Due: nixfmt

chore(gruvbox): drop alternative konsole schemes
  lib/colorschemes/gruvbox.nix
Due: nixfmt

refactor: define base24 colorschemes
  home-manager/config/programs/konsole.nix
  lib/colorschemes/gruvbox.nix
  lib/colorschemes/gruvbox_material.nix
Due: nixfmt

refactor: use base16.nix to derive color codes
  flake.lock
  flake.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/konsole.nix
  lib/base16.nix
  lib/dec2hex.nix
  lib/gruvbox.nix
  lib/gruvbox_material.nix
  lib/hex2dec.nix
  lib/rgb.nix
  nixos/config/default.nix
  nixos/config/services/kmscon.nix
Due: nixfmt

fix(hm): use `$VERBOSE_ARG` in activation scripts
  home-manager/modules/programs/glab.nix
Due: nixfmt

docs(firefox): the Github token gets synchronized
  README.md
Due: markdownlint, mdformat

feat(firefox): configure extensions
  README.md
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/secrets.yaml
  home-manager/modules/programs/firefox.nix
Due: markdownlint, mdformat, nixfmt, yamlfmt

refactor(hm): interface for merging files into home
  home-manager/modules/home.nix
  home-manager/modules/programs/firefox.nix
  home-manager/modules/programs/glab.nix
  lib/merge.nix
Due: nixfmt

fix(fzf-tab-completion): install dependencies in environment
  home-manager/modules/programs/fzf-tab-completion.nix
  nixpkgs/packages/fzf-tab-completion.nix
Due: nixfmt

fix(fzf-tab-completion): disable readline support on ARM
  home-manager/modules/programs/fzf-tab-completion.nix
  nixpkgs/packages/fzf-tab-completion.nix
  nixpkgs/packages/rl_custom_function.nix
Due: nixfmt

refactor(firefox): unified extensions interface
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/config/programs/zotero.nix
  home-manager/modules/programs/firefox.nix
Due: nixfmt

feat: add JSON merger
  home-manager/modules/programs/firefox.nix
  lib/merge.nix
Due: nixfmt

feat(firefox): configure extension permissions
  README.md
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/config/programs/zotero.nix
  home-manager/modules/programs/firefox.nix
Due: markdownlint, mdformat, nixfmt

feat(precision3490): set `retbleed=stuff`
  hosts/radboud-precision3490.nix
Due: nixfmt

refactor(flake): only synchronize nixpkgs inputs
  flake.lock
  flake.nix
Due: nixfmt
