Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

chore(yamlls): latexindent's schema was upstreamed
  home-manager/config/programs/neovim/after/lsp/yamlls.lua
Due: none

fix(yamlls): do not enable Kubernetes schemas
  home-manager/config/programs/neovim/after/lsp/yamlls.lua
Due: none

fix(nvim): do not 'require_cwd' for treefmt
  home-manager/config/programs/neovim/lua/config/plugins/conform.lua
Due: none

chore(nixos): upgrade
  flake.lock
Due: none

chore(firefox): do not show toolbar on work machine
  home-manager/config/profiles/radboud.nix
Due: nixfmt

fix(plasma): do not escape commas in shortcuts
  flake.lock
  flake.nix
Due: nixfmt

fix(radboud): Wifi scan with non-randomized MAC address
  nixos/config/profiles/radboud.nix
Due: nixfmt

feat(nvim): install 'snacks.nvim`
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/dressing.lua
  home-manager/config/programs/neovim/lua/config/plugins/indent-blankline.lua
  home-manager/config/programs/neovim/lua/config/plugins/luapad.lua
  home-manager/config/programs/neovim/lua/config/plugins/notify.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
  home-manager/config/programs/neovim/neovim.yaml
Due: yamlfmt

fix(git): set 'user.email' automatically for work repos
  home-manager/config/profiles/radboud.nix
Due: nixfmt

feat(precision3490): install Steam
  hosts/radboud-precision3490.nix
Due: nixfmt

fix: add `copy-forms` script only when okular enabled
  home-manager/config/programs/okular.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

docs(konsole): verbose color scheme option descriptions
  home-manager/config/programs/konsole.nix
  home-manager/modules/programs/konsole.nix
Due: nixfmt

docs(plasma): web shortcuts default text
  home-manager/modules/programs/plasma.nix
Due: nixfmt

fix(firefox): never translate Dutch
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(overlays): use `fetchpatch` from the final set
  nixpkgs/konsole_with_full_font_hinting.nix
Due: nixfmt

feat(flake): export packages and overlays
  flake.nix
  nixpkgs/default.nix
  nixpkgs/packages/default.nix
  nixpkgs/packages/overlay.nix
Due: nixfmt

fix(keepassxc): do not lock the db after a timeout
  home-manager/config/programs/keepassxc.nix
Due: nixfmt

chore(nvim): `DEEPL_API_TOKEN` -> `DEEPL_AUTH_KEY`
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/config/plugins/pantran.lua
Due: nixfmt

ci(treefmt): integrate nixf-diagnose
  flake.lock
  flake.nix
  home-manager/modules/files.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

chore(nvim): make mapping descriptions consistent
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nvim): use single quoted strings
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nvim): remove abandoned resize mode
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nvim): do not `<C-a>` and `<C-x>` on letters
  home-manager/config/programs/neovim/lua/config/plugins/dial.lua
Due: none

chore(nvim): make autocmds consistent
  home-manager/config/programs/neovim/after/ftplugin/dot.lua
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/gruvbox-material.lua
  home-manager/config/programs/neovim/lua/config/plugins/highlight-undo.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
Due: none

refactor(nvim): streamline plugin specifications
  home-manager/config/programs/neovim/lua/config/plugins/lazydev.lua
  home-manager/config/programs/neovim/lua/config/plugins/leap.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: none

chore(nvim): load plugins late
  home-manager/config/programs/neovim/init.lua
Due: none

feat(nvim): enable treesitter-based indenting
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none
