Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

refactor(fzf): use Zsh site functions
  home-manager/config/programs/fzf/default.nix
Due: nixfmt

feat(zsh): enable HIST_IGNORE_SPACE
  home-manager/config/programs/zsh.nix
Due: nixfmt

docs: remove repeated command prefixing with sudoe
  README.md
  flake.nix
Due: markdownlint, mdformat, nixfmt

fix(merged-files): require non-empty systemd deps
  lib/types.nix
Due: nixfmt

fix(zsh): disable the NULL_GLOB option
  home-manager/config/programs/zsh.nix
Due: nixfmt

refactor(merged-files): name the common union type
  home-manager/modules/home.nix
  home-manager/modules/programs/firefox.nix
  lib/types.nix
Due: nixfmt

chore(nixos): remove dual-boot support
  home-manager/config/programs/keepassxc.nix
  hosts/precision3490.nix
  nixos/config/dualboot.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/slack.nix
Due: nixfmt

chore: remove the bt-dualboot package and module
  nixos/default.nix
  nixos/modules/services/bt-dualboot.nix
  nixpkgs/packages/bt-dualboot.nix
  nixpkgs/packages/default.nix
Due: nixfmt

feat(nixos): combine Steam with gamemode
  nixos/config/programs/steam.nix
Due: nixfmt

fix(nixos): disable hibernation in Disko setup
  nixos/config/disko.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  flake.nix
  hosts/precision3490.nix
  hosts/xps13-9360.nix
  nixos/config/default.nix
  nixos/config/services/kmscon.nix
Due: nixfmt

fix(kmscon): use monitor with largest resolution
  nixos/config/services/kmscon.nix
Due: nixfmt

fix(kmscon): increase font size
  nixos/config/services/kmscon.nix
Due: nixfmt

chore: uninstall logseq
  home-manager/config/profiles/gui.nix
Due: nixfmt

chore(nvim): remove outdated EmmyLuaLS config
  home-manager/config/programs/neovim/after/lsp/emmylua_ls.lua
Due: none

chore(nvim): annotate blink config with its type
  home-manager/config/programs/neovim/lua/plugins/blink.cmp.lua
Due: none

chore(nvim): remove the emoji completion source
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/plugins/blink.cmp.lua
Due: none

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/plugins/blink.cmp.lua
  home-manager/config/programs/neovim/lua/plugins/lazydev.lua
  home-manager/config/programs/neovim/lua/plugins/lint.lua
Due: nixfmt

chore: remove redundant string interpolation
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

fix(nvim): let lazy.nvim not reset the runtimepath
  home-manager/config/programs/neovim/init.lua
Due: none

fix(nvim): disable luarocks plugins entirely
  home-manager/config/programs/neovim/init.lua
Due: none

feat(nvim): replace libuv-watchdirs by inotify-tools
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

feat(nvim): install sqlite3 to speed up pickers
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/plugins/snacks.lua
Due: nixfmt

refactor(plasma): named shortcut schemes attributes
  home-manager/modules/programs/plasma/shortcut-schemes.nix
  lib/plasma.nix
  lib/types.nix
Due: nixfmt

refactor: generate XML with `pkgs.formats.xml`
  home-manager/modules/programs/plasma/shortcut-schemes.nix
Due: nixfmt

refactor(plasma): make shortcut keys mergeable
  home-manager/modules/programs/plasma/shortcut-schemes.nix
Due: nixfmt

fix(plasma): standardize tab movement shortcuts
  home-manager/config/programs/dolphin.nix
  home-manager/config/programs/kmail.nix
  home-manager/config/programs/okular.nix
Due: nixfmt

fix(plasma): dependent view properties configuration
  home-manager/modules/programs/dolphin.nix
Due: nixfmt

fix(merkuro): remove settings option
  home-manager/config/programs/merkuro.nix
  home-manager/modules/programs/merkuro.nix
Due: nixfmt

refactor: use plasma-manager's settings type
  home-manager/modules/programs/dolphin.nix
  lib/plasma.nix
Due: nixfmt

feat: make package options nullable
  home-manager/config/programs/zotero.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  home-manager/modules/programs/kmail.nix
  home-manager/modules/programs/merkuro.nix
  home-manager/modules/programs/shellcheck.nix
  home-manager/modules/programs/signal-desktop.nix
  home-manager/modules/programs/slack.nix
  home-manager/modules/programs/taskell.nix
  home-manager/modules/programs/yamllint.nix
Due: nixfmt

fix(dolphin): remove side padding in details mode
  home-manager/config/programs/dolphin.nix
Due: nixfmt

fix: add package options for KDE applications
  home-manager/modules/programs/dolphin.nix
  home-manager/modules/programs/kmail.nix
  home-manager/modules/programs/konsole.nix
Due: nixfmt

feat: configure Akregator
  home-manager/config/programs/akregator.nix
  home-manager/config/programs/plasma/default.nix
  home-manager/modules/programs/akregator.nix
Due: nixfmt

fix(languagetool): self-host an instance
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/neovim/after/lsp/ltex_plus.lua
  home-manager/config/secrets.yaml
  hosts/precision3490.nix
  nixos/config/services/languagetool.nix
Due: nixfmt, yamlfmt

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/zsh.nix
Due: nixfmt

feat(nix): enable uid-range system feature on NixOS
  nixos/config/default.nix
Due: nixfmt

feat(languagetool): add 'n-grams' option
  nixos/config/services/languagetool.nix
  nixos/default.nix
  nixos/modules/services/languagetool/n-grams.nix
Due: nixfmt

docs: add TPM recovery key after first boot
  README.md
Due: markdownlint, mdformat

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
