Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

chore(nixos): upgrade
  flake.lock
  flake.nix
  home-manager/config/development/markdown.nix
  home-manager/config/profiles/linux.nix
Due: nixfmt

refactor(goto): guard Bash and Zsh integration
  home-manager/modules/programs/goto.nix
  nixpkgs/packages/goto.nix
Due: nixfmt

feat(sops): decrypt secrets before diffing
  .gitattributes
  flake.nix
Due: nixfmt

feat(gh): replace fine-grained by a classic token
  home-manager/config/secrets.yaml
Due: yamlfmt

fix(starship): git_status format string
  home-manager/config/programs/starship.nix
Due: nixfmt

refactor: upstream the goto package
  flake.lock
  nixpkgs/packages/default.nix
  nixpkgs/packages/goto.nix
Due: nixfmt

refactor(bt-dualboot): use `lib.pipe`
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

feat(bt-dualboot): backup the windows registry
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

feat(bt-dualboot): add package option
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

fix(nvim): register undoing 'makeprg' on TeX files
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
Due: none

fix(nvim): disable 'showbreak' by default
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nixos): upgrade
  flake.lock
Due: none

chore(nvim): upgrade to v0.11
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lsp/bashls.lua
  home-manager/config/programs/neovim/lsp/hls.lua
  home-manager/config/programs/neovim/lsp/ltex_plus.lua
  home-manager/config/programs/neovim/lsp/lua_ls.lua
  home-manager/config/programs/neovim/lsp/nil_ls.lua
  home-manager/config/programs/neovim/lsp/texlab.lua
  home-manager/config/programs/neovim/lsp/yamlls.lua
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/impairative.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
  home-manager/config/programs/neovim/lua/util/lsp/goto.lua
Due: none

fix(plasma): vendor and product id as hexadecimals
  home-manager/config/programs/plasma/default.nix
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

chore(nixos): remove redundant configuration
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(radboud): speed up early LUKS decryption
  hosts/radboud.nix
Due: nixfmt

feat(orion): timeout when keyfile is missing
  hosts/orion.nix
Due: nixfmt

feat(radboud): enable Nvidia Optimus PRIME offload
  hosts/radboud.nix
Due: nixfmt

feat(radboud): configure Intel CPU and GPU
  hosts/radboud.nix
Due: nixfmt

feat(nixos): enable lazyy, strict access times
  hosts/orion.nix
  hosts/radboud.nix
  nixos/config/hardware/devices/lacie_drive.nix
Due: nixfmt

refactor: use `lib.uuid`
  hosts/radboud.nix
Due: nixfmt

fix(firefox): rename `{,network.}dnsCacheEntries`
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(radboud): enable unattended boot
  hosts/radboud.nix
Due: nixfmt

feat(nixos): enable TRIM on encrypted devices
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

style(nixos): rename LUKS device `linux` -> `root`
  hosts/orion.nix
  hosts/radboud.nix
Due: nixfmt

feat(nixos): deploy my password
  flake.nix
  nixos/config/default.nix
  nixos/config/secrets.yaml
Due: nixfmt, yamlfmt

feat(glab): add option to configure aliases
  home-manager/modules/programs/glab.nix
Due: nixfmt

fix(git): enable difftastic as difftool
  home-manager/config/programs/git/default.nix
Due: nixfmt

feat: manage secrets with sops-nix
  .sops.yaml
  README.md
  flake.lock
  flake.nix
  home-manager/config/default.nix
  home-manager/config/programs/gh.nix
  home-manager/config/programs/glab.nix
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/config/plugins/pantran.lua
  home-manager/config/secrets.yaml
  typos.toml
Due: markdownlint, mdformat, nixfmt, yamlfmt

ci(actions): run the flake check
  .github/workflows/nix-flake-check.yaml
  flake.nix
Due: nixfmt, yamlfmt

refactor: upstream Dell Precision 3490 settings
  flake.lock
  hosts/radboud.nix
Due: nixfmt

feat(gh): add host-specific configuration
  home-manager/config/programs/gh.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/gh.nix
Due: nixfmt

fix(glab): apply settings side-effectfully
  home-manager/modules/programs/glab.nix
Due: nixfmt

refactor: upstream `programs.gh.hosts`
  flake.lock
  home-manager/config/programs/zsh.nix
  home-manager/modules/module-list.nix
  home-manager/modules/programs/gh.nix
  home-manager/modules/programs/zsh.nix
Due: nixfmt

refactor: run formatters through `treefmt` only
  flake.nix
Due: nixfmt

feat(fzf-tab-completion): build with all features
  home-manager/config/programs/fzf-tab-completion.nix
  home-manager/modules/programs/fzf-tab-completion.nix
  nixpkgs/packages/default.nix
  nixpkgs/packages/fzf-tab-completion.nix
  nixpkgs/packages/rl_custom_function.nix
Due: nixfmt

feat(nvim): set JSON indentation size to two
  home-manager/config/programs/neovim/after/ftplugin/json.lua
Due: none
