Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        language: system
        args: [--staged, --msg-filename]
        stages: [commit-msg]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        language: system
        args: [--verify]
        types: [nix]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        language: system
        args: [--write, --simplify, --indent=4]
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        args: [--search-parent-directories]
        types: [lua]
        exclude: '^.config/nvim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]
        exclude: '^.config/gh/config.yaml$'

refactor(nvim): dismiss notifications on backspace
  .config/nvim/lua/config/mappings.lua
Due: none

feat(nvim): delete buffer on `<Leader>d`
  .config/nvim/lua/config/mappings.lua
Due: none

feat(nvim): relative direction in better-n ops
  .config/nvim/lazy-lock.json
Due: none

feat(sioyek): reload document on `<C-r>`
  .config/home-manager/home-manager/config/programs/sioyek.nix
Due: nixfmt

chore(nvim): upgrade plugins
  .config/nvim/lazy-lock.json
Due: none

chore(nvim): update the session plugin
  .config/nvim/lazy-lock.json
Due: none

feat(keepassxc): integrate into Firefox
  .config/home-manager/home-manager/config/profiles/gui.nix
  .config/home-manager/home-manager/modules/module-list.nix
  .config/home-manager/home-manager/modules/programs/keepassxc.nix
Due: nixfmt

feat: install nvd
  .config/home-manager/home-manager/config/default.nix
Due: nixfmt

chore(firefox): remove deprecated settings
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix: remove leaked path entries
  .config/home-manager/home-manager/config/default.nix
  .config/home-manager/home-manager/config/remove-leaked-path-entries.nix
Due: nixfmt

perf(firefox): unload tabs after 5 minutes
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): remove extension recommendations
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(hm): add lua development deps for pre-commit
  .config/home-manager/home-manager/config/ci/pre-commit.nix
Due: nixfmt

perf(firefox): improve performance
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): disable VPN promotion
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(hm): install mdformat with plugins
  .config/home-manager/home-manager/config/development/markdown.nix
Due: nixfmt

refactor(hm): pre-commit depends on dev profiles
  .config/home-manager/home-manager/config/ci/pre-commit.nix
Due: nixfmt

feat(firefox): smooth full-screen without warning
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): hide the tab close button
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(firefox): remove obsolete privacy-badger
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): compact ui
  .config/home-manager/nixos/config/default.nix
Due: nixfmt

ci(pre-commit): remove useless exclusion
  .pre-commit-config.yaml
Due: yamlfmt

ci(pre-commit): run mdformat and markdownlint
  .config/home-manager/home-manager/config/ci/pre-commit.nix
  .pre-commit-config.yaml
Due: nixfmt, yamlfmt

feat(firefox): install the sidebery extension
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(nixos): enable systemd-resolved
  .config/home-manager/nixos/config/default.nix
  .config/home-manager/nixos/config/services/resolved.nix
Due: nixfmt

feat(hm): specify the UI state
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

refactor(hm): isolate KDE-specific ignore patterns
  .config/home-manager/home-manager/config/profiles/kde-plasma/default.nix
  .config/home-manager/home-manager/config/programs/git/default.nix
Due: nixfmt

fix(git): ignore top-level `.direnv` folders only
  .config/home-manager/home-manager/config/programs/git/default.nix
Due: nixfmt

feat(git): ignore Nix's result links
  .config/home-manager/home-manager/config/programs/git/default.nix
Due: nixfmt

chore: sort entries and keys in pre-commit config
  .pre-commit-config.yaml
Due: yamlfmt

chore: do not limit line length in markdown
  .markdownlint.yaml
  .mdformat.toml
  README.md
Due: yamlfmt

fix(firefox): config typo
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(firefox): categorize config
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat(firefox): specify font size
  .config/home-manager/home-manager/config/programs/firefox/default.nix
Due: nixfmt

feat: install Signal on macOS
  .config/home-manager/home-manager/config/profiles/gui.nix
Due: nixfmt

chore(nvim): remove the kubectl plugin
  .config/nvim/lazy-lock.json
  .config/nvim/lua/config/mappings.lua
  .config/nvim/lua/config/plugins/kubectl.lua
Due: none

feat(nvim): load highlight-undo on `u` and `<C-r>`
  .config/nvim/lua/config/plugins/highlight-undo.lua
Due: none

feat(hm): randomized delay for garbage collection
  .config/home-manager/home-manager/config/profiles/standalone.nix
Due: nixfmt

fix(readline): show the mode in the prompt
  .inputrc
Due: none
