Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-merge-commit
  - commit-msg
default_stages:
  - pre-commit
  - pre-merge-commit
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        name: check useless excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        name: check that VCS links are permanent links
      - id: detect-private-key
        name: check for added private keys
      - id: mixed-line-ending
        name: check for mixed line endings
        args: [--fix=no]
      - id: trailing-whitespace
      - id: check-toml
        name: check TOML is parsable
      - id: check-yaml
        name: check YAML is parsable
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: forbid-binary
        name: check for added binaries
      - id: script-must-have-extension
        name: non-executable shell scripts filename ends in .sh
        exclude_types: [zsh]
      - id: script-must-not-have-extension
        name: executable shell scripts filename omit the .sh extension
  - repo: local
    hooks:
      - id: gitlint
        name: check commit message is in conventional commits format
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]
      - id: markdownlint
        name: lint with markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
      - id: mdformat
        name: format with mdformat
        entry: mdformat
        language: system
        types: [markdown]
      - id: nixfmt
        name: format with nixfmt
        entry: nixfmt
        args: [--verify]
        language: system
        types: [nix]
      - id: shellcheck
        name: lint with shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: shfmt
        name: format with shfmt
        entry: shfmt
        args: [--write, --simplify, --indent=4]
        language: system
        types: [shell]
        exclude_types: [zsh]
      - id: stylua
        name: format with stylua
        entry: stylua
        language: system
        types: [lua]
        exclude: '^home-manager/config/programs/neovim/lua/config/mappings\.lua$'
      - id: yamlfmt
        name: format with yamlfmt
        entry: yamlfmt
        language: system
        types: [yaml]

ci(yamlfmt): include convco's config file
  .convco
  flake.nix
Due: nixfmt

chore(secrets): update the OpenPGP key
  .sops.yaml
  home-manager/config/secrets.yaml
  nixos/config/secrets.yaml
Due: yamlfmt

chore(secrets): put declaration in proper place
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
Due: nixfmt

fix(firefox): only configure permissions if non-empty
  home-manager/modules/programs/firefox.nix
Due: nixfmt

refactor(merged-files): activate through systemd
  home-manager/modules/home.nix
  lib/merge.nix
Due: nixfmt

fix(firefox): depend on sops-nix for extension secrets
  flake.nix
  home-manager/config/programs/firefox/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/modules/home.nix
  home-manager/modules/programs/firefox.nix
  home-manager/modules/sops.nix
  lib/types.nix
Due: nixfmt

feat(firefox): enable Normandy and crash reports
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(nvim): place TeX environments at proper column
  home-manager/config/programs/neovim/lua/util/filetype/tex.lua
Due: none

feat(sops): generate the age key if missing
  home-manager/config/default.nix
  nixos/config/default.nix
Due: nixfmt

refactor(signal): add config options
  README.md
  home-manager/config/programs/signal-desktop.nix
  home-manager/modules/programs/signal-desktop.nix
Due: markdownlint, mdformat, nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

fix(nvim): adapt DeepL authentication change
  home-manager/config/programs/neovim/lua/config/plugins/pantran.lua
Due: none

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

fix(nvim): adapt DeepL authentication change
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/pantran.lua
Due: none

fix(radboud): disable Davmail and Merkuro
  home-manager/config/profiles/radboud.nix
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

fix(nvim): bind plugins to `p` on dashboard
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
Due: none

fix(firefox): disable welcome message and form autofill
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(firefox): use open source fork of addons
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(firefox): do not disable phishing protection
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

docs(firefox): Dark Reader's defaults improved
  README.md
Due: markdownlint, mdformat

feat(steam): enable ntsync
  nixos/config/programs/steam.nix
Due: nixfmt

fix(nvim): return LSP client capability support flag
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nvim): redundant cast and diagnostic suppression
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
Due: none

feat(nvim): use the jump list like a stack
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nvim): upgrade to v0.12
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/atone.lua
Due: none

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/leap.lua
Due: none

feat(slack): exclude notifications from the history
  home-manager/config/programs/slack.nix
Due: nixfmt

chore(nvim): preselect cmdline completion
  home-manager/config/programs/neovim/lua/config/plugins/blink.cmp.lua
Due: none

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

feat(nvim): enable Flutter snippets
  home-manager/config/programs/neovim/lua/config/plugins/blink.cmp.lua
Due: none

fix(nil_ls): do not auto-eval flake inputs
  home-manager/config/programs/neovim/after/lsp/nil_ls.lua
Due: none

fix(plasma): use hibernation only when enabled
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat(xps13): enable the Radboud profile
  hosts/private-xps13-9360.nix
Due: nixfmt
