Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

fix(nvim): remove erroneous mapping RHS
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

feat(nvim): move LSP renaming to 'gr'
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

feat(nvim): use Snacks picker for LSP navigation
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
  home-manager/config/programs/neovim/lua/util/lsp/goto.lua
Due: none

style: indent shell code with two spaces
  home-manager/config/development/kubernetes.nix
  home-manager/config/programs/fzf-tab-completion.nix
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/git/default.nix
  home-manager/config/programs/keepassxc.nix
  home-manager/config/programs/mkcd.nix
  home-manager/config/programs/zoxide.nix
  home-manager/config/programs/zsh.nix
  home-manager/modules/programs/goto.nix
Due: nixfmt

feat(nvim): install 'todo_comments.nvim'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/todo_comments.lua
Due: none

feat(nvim): install 'live-preview.nvim'
  home-manager/config/programs/neovim/after/ftplugin/markdown.lua
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/live-preview.lua
  home-manager/config/programs/neovim/lua/config/plugins/markdown-preview.lua
Due: nixfmt

feat(nvim): install 'snacks.nvim`
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/dressing.lua
  home-manager/config/programs/neovim/lua/config/plugins/fzf-lua.lua
  home-manager/config/programs/neovim/lua/config/plugins/indent-blankline.lua
  home-manager/config/programs/neovim/lua/config/plugins/luapad.lua
  home-manager/config/programs/neovim/lua/config/plugins/notify.lua
  home-manager/config/programs/neovim/lua/config/plugins/snacks.lua
  home-manager/config/programs/neovim/neovim.yaml
Due: nixfmt, yamlfmt

feat(nvim): add a trailing comma in multi-line Lua tables
  home-manager/config/programs/neovim/lua/config/plugins/autopairs.lua
Due: none

fix(nvim): bind LSP hover explicitly to 'K'
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

fix(git): do not ignore '.direnv/' and '/result' globally
  home-manager/config/programs/git/default.nix
Due: nixfmt

ci: move yamlfmt from pre-commit hooks to treefmt
  flake.nix
Due: nixfmt

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

refactor(nvim): add ltex-ls-plus unconditionally
  home-manager/config/development/markdown.nix
  home-manager/config/programs/neovim/default.nix
Due: nixfmt

feat(nvim): integrate the Harper language server
  home-manager/config/programs/neovim/after/lsp/harper_ls.lua
  home-manager/config/programs/neovim/default.nix
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

chore(sh): remove superfluous `eval`s
  home-manager/config/programs/fzf/default.nix
  home-manager/config/programs/fzf/state.sh
Due: nixfmt

build: check whether pre-commit is enabled
  flake.nix
Due: nixfmt

build: define devShell with `pkgs.mkShell`
  flake.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
Due: none

fix(plasma): do not escape commas in shortcuts
  flake.lock
  flake.nix
Due: nixfmt

refactor(nvim): clear highlight groups by default
  home-manager/config/programs/neovim/after/ftplugin/dot.lua
  home-manager/config/programs/neovim/after/ftplugin/tex.lua
  home-manager/config/programs/neovim/lua/config/plugins/gruvbox-material.lua
  home-manager/config/programs/neovim/lua/config/plugins/highlight-undo.lua
  home-manager/config/programs/neovim/lua/config/plugins/lint.lua
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

feat(nvim): install 'atone.nvim'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/atone.lua
  home-manager/config/programs/neovim/lua/config/plugins/undotree.lua
Due: none

feat(nvim): integrate 'trouble.nvim' deeper
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/mappings.lua
  home-manager/config/programs/neovim/lua/config/plugins/aerial.lua
  home-manager/config/programs/neovim/lua/config/plugins/trouble.lua
Due: none

fix(radboud): use a static salt for token encryption
  home-manager/config/profiles/radboud.nix
Due: nixfmt

refactor(nvim): shorten a conditional return
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

feat(nvim): enable the clangd language server
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: none

refactor(nvim): replace LuaLS by EmmyLuaLS
  home-manager/config/development/lua.nix
  home-manager/config/programs/neovim/.emmyrc.json
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/after/lsp/emmylua_ls.lua
  home-manager/config/programs/neovim/after/lsp/lua_ls.lua
  home-manager/config/programs/neovim/init.lua
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

chore: fix typo
  home-manager/config/default.nix
  home-manager/config/programs/neovim/init.lua
Due: nixfmt

refactor: home.stateVersion defaults to system.stateVersion
  home-manager/config/default.nix
  hosts/installer.nix
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

feat(nvim): integrate JSON language server
  home-manager/config/default.nix
  home-manager/config/development/json.nix
  home-manager/config/programs/neovim/lua/config/plugins/lspconfig.lua
Due: nixfmt

ci(typos): ignore 'substituters'
  typos.toml
Due: none

chore(nixos): upgrade
  flake.lock
  home-manager/config/programs/neovim/lua/config/plugins/treesitter-endwise.lua
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
  home-manager/config/programs/neovim/lua/config/plugins/ts-autotag.lua
Due: none

ci(treefmt): integrate nixf-diagnose
  flake.lock
  flake.nix
  home-manager/modules/files.nix
Due: nixfmt

chore(nvim): use single quoted strings
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

chore(nvim): do not `<C-a>` and `<C-x>` on letters
  home-manager/config/programs/neovim/lua/config/plugins/dial.lua
Due: none

feat(nvim): enable treesitter-based indenting
  home-manager/config/programs/neovim/lua/config/plugins/treesitter.lua
Due: none

chore(nvim): make mapping descriptions consistent
  home-manager/config/programs/neovim/lua/config/mappings.lua
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
