Repository bmrips/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, mdformat, nixfmt, yamlfmt

markdownlint:
  name: lint with markdownlint
  entry: markdownlint
  language: system

mdformat:
  name: format with mdformat
  entry: mdformat
  language: system

nixfmt:
  name: format with nixfmt
  entry: nixfmt
  args:
  - --verify
  language: system

yamlfmt:
  name: format with yamlfmt
  entry: yamlfmt
  language: system

fix(slack): launch Slack minimized
  home-manager/modules/programs/slack.nix
Due: nixfmt

chore(keepassxc): update browser extension DB token
  home-manager/config/secrets.yaml
Due: yamlfmt

feat(languagetool): use Oxford English
  home-manager/config/programs/firefox/default.nix
Due: nixfmt

chore(radboud): remove redundant semicolon
  nixos/config/profiles/radboud.nix
Due: nixfmt

refactor(nvim): code readability
  home-manager/config/programs/neovim/lua/config/plugins/impairative.lua
Due: none

refactor(nvim): use the 'suffixes' default
  home-manager/config/programs/neovim/init.lua
Due: none

chore(nixos): upgrade
  flake.lock
Due: none

chore(plasma): remove the German keyboard layout
  home-manager/config/programs/plasma/default.nix
Due: nixfmt

feat(taskell): black foreground in status bar
  home-manager/config/programs/taskell.nix
Due: nixfmt

fix(impermanence): reinitialize / on change only
  nixos/config/impermanence.nix
Due: nixfmt

refactor: use `utils.escapeSystemdPath`
  home-manager/config/programs/keepassxc.nix
  home-manager/submodule.nix
  nixos/modules/services/bt-dualboot.nix
Due: nixfmt

chore: toGNUCommandLine -> toCommandLineGNU
  home-manager/modules/programs/goto.nix
  lib/gnuCommand.nix
  lib/systemd.nix
Due: nixfmt

chore(nvim): update the leap.nvim repo url
  home-manager/config/programs/neovim/lua/config/plugins/leap.lua
Due: none

refactor(pre-commit): configure markdownlint with Nix
  .markdownlint.yaml
  flake.nix
Due: nixfmt, yamlfmt

fix(nvim): unfold LSP settings
  home-manager/config/programs/neovim/.luarc.json
  home-manager/config/programs/neovim/after/lsp/bashls.lua
  home-manager/config/programs/neovim/after/lsp/hls.lua
  home-manager/config/programs/neovim/after/lsp/lua_ls.lua
  home-manager/config/programs/neovim/after/lsp/nil_ls.lua
  home-manager/config/programs/neovim/after/lsp/yamlls.lua
Due: none

fix(texlab): build the document on save
  home-manager/config/programs/neovim/after/lsp/texlab.lua
Due: none

feat(nvim): enable luarocks plugins
  home-manager/config/programs/neovim/init.lua
Due: none

feat(nil_ls): automatically evaluate flake inputs
  home-manager/config/programs/neovim/after/lsp/nil_ls.lua
Due: none

chore(nvim): upgrade plugins
  home-manager/config/programs/neovim/after/lsp/bashls.lua
  home-manager/config/programs/neovim/after/lsp/hls.lua
  home-manager/config/programs/neovim/lazy-lock.json
Due: none

fix(nvim): use my own fork of 'nvim-better-n'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/better-n.lua
Due: none

feat(texlab): enable chktex
  home-manager/config/programs/neovim/after/lsp/texlab.lua
Due: none

chore(nvim): update `lazydev` config
  home-manager/config/programs/neovim/lua/config/plugins/lazydev.lua
Due: none

feat(less): add more options and vim-like keybinds
  flake.lock
  flake.nix
  home-manager/config/programs/less.nix
Due: nixfmt

fix(radboud): Wifi scan with non-randomized MAC address
  nixos/config/profiles/radboud.nix
Due: nixfmt

chore(nixos): upgrade
  flake.lock
  hosts/private-xps13-9360.nix
  hosts/radboud-precision3490.nix
Due: nixfmt

fix(plasma): do not escape commas in shortcuts
  flake.lock
  flake.nix
Due: nixfmt

feat(less): add more options and vim-like keybinds
  flake.lock
  home-manager/config/programs/less.nix
Due: nixfmt

feat(nvim): configure the keep-sorted formatter
  home-manager/config/programs/neovim/lua/config/plugins/conform.lua
Due: none

fix(dolphin): do not configure global view properties
  home-manager/config/programs/dolphin.nix
Due: nixfmt

feat(nvim): enable builtin fuzzy completion
  home-manager/config/programs/neovim/init.lua
Due: none

fix(nvim): use my own fork of 'nvim-better-n'
  home-manager/config/programs/neovim/lazy-lock.json
  home-manager/config/programs/neovim/lua/config/plugins/better-n.lua
  home-manager/config/programs/neovim/lua/config/plugins/impairative.lua
Due: none

feat: add MIT license
  LICENSE
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  mdformat: any of: \.(md|markdown|mdown)$
  nixfmt: any of: \.nix$
  yamlfmt: any of: \.(yaml|yml)$
